.atm_mk_stnw88{position:absolute;} .atm_mk_stnw88{position:absolute;}
.atm_tk_idpfg4{top:0;} .atm_tk_idpfg4{top:0;}
.dir-ltr.atm_fq_idpfg4{left:0;}
.dir-rtl.atm_fq_idpfg4{right:0;} .dir-ltr.atm_fq_idpfg4{left:0;} .dir-rtl.atm_fq_idpfg4{right:0;}
.dir-ltr.atm_n3_idpfg4{right:0;}
.dir-rtl.atm_n3_idpfg4{left:0;} .dir-ltr.atm_n3_idpfg4{right:0;} .dir-rtl.atm_n3_idpfg4{left:0;}
.atm_6i_idpfg4{bottom:0;} .atm_6i_idpfg4{bottom:0;}
.atm_vy_1osqo2v{width:100%;} .atm_vy_1osqo2v{width:100%;}
.atm_e2_1osqo2v{height:100%;} .atm_e2_1osqo2v{height:100%;}
.atm_ks_15vqwwr{overflow:hidden;} .atm_ks_15vqwwr{overflow:hidden;}
.atm_ib_ueyaub{-webkit-mask-image:-webkit-radial-gradient(white,black);} .atm_ib_ueyaub{-webkit-mask-image:-webkit-radial-gradient(white,black);}
.atm_ia_ueyaub.atm_ia_ueyaub{mask-image:-webkit-radial-gradient(white,black);} .atm_ia_ueyaub.atm_ia_ueyaub{mask-image:-webkit-radial-gradient(white,black);}
.atm_9s_1ulexfb{display:block;} .atm_9s_1ulexfb{display:block;}
.atm_jb_uuw12j{min-width:200px;} .atm_jb_uuw12j{min-width:200px;}
.dir.atm_2w_1egmwxu.atm_2w_1egmwxu{background-size:200% 200%;} .dir.atm_2w_1egmwxu.atm_2w_1egmwxu{background-size:200% 200%;}
.atm_k4_idpfg4{opacity:0;} .atm_k4_idpfg4{opacity:0;}
.atm_uc_kn5pbq{transition:opacity 1.25s;} .atm_uc_kn5pbq{transition:opacity 1.25s;}
.dir-ltr.atm_2g_h7l0x8.atm_2g_h7l0x8{background-image:linear-gradient(to right,black 0%,white 50%,black 100%);}
.dir-rtl.atm_2g_h7l0x8.atm_2g_h7l0x8{background-image:linear-gradient(to left,black 0%,white 50%,black 100%);} .dir-ltr.atm_2g_h7l0x8.atm_2g_h7l0x8{background-image:linear-gradient(to right,black 0%,white 50%,black 100%);} .dir-rtl.atm_2g_h7l0x8.atm_2g_h7l0x8{background-image:linear-gradient(to left,black 0%,white 50%,black 100%);}
.atm_1k1pljo_kb7nvz:hover{opacity:1;} .atm_1k1pljo_kb7nvz:hover{opacity:1;}
.atm_f8cor4_1cydtq5:active{transition:transform 2s,opacity 2s;} .atm_f8cor4_1cydtq5:active{transition:transform 2s,opacity 2s;}
.atm_1jmsv9c_idpfg4:active{opacity:0;} .atm_1jmsv9c_idpfg4:active{opacity:0;}
.dir.atm_1xc0vp4_kftzq4:active{transform:scale(5);} .dir.atm_1xc0vp4_kftzq4:active{transform:scale(5);}
.atm_mk_h2mmj6{position:relative;} .atm_mk_h2mmj6{position:relative;}
.atm_mj_glywfm{pointer-events:none;} .atm_mj_glywfm{pointer-events:none;}
