.dir-ltr.a1fkdtu4[class][class]{margin-left:var(--jaa-ni-h);}.dir-rtl.a1fkdtu4[class][class]{margin-right:var(--jaa-ni-h);}
.c1yk3is9[class][class]{display:flex;align-items:center;justify-content:space-between;}
.s1fmmrzi[class][class]{font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);color:var(--fo-jk-r-s);font-weight:var(--e-y-j-d-v-j);}
.dir.s1fmmrzi[class][class]{margin-top:var(--fgg-f-l-a);}
.dir.d11aewlt[class][class]{padding-top:var(--fgg-f-l-a);}
.tbxu08r[class][class]{color:var(--f-k-smk-x);font-family:var(--e-ls-qkw);font-weight:var(--jx-zk-pv);font-size:var(--lhy-d-yl);line-height:var(--fme-bf-w);}
.len26si[class][class]:nth-of-type(1n){display:inline-block;}
.dir.l7n4lsf[class][class]{margin:0;padding:0;}
.sxjq0r[class][class]{pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:pre-wrap;}
.dir-ltr.sxjq0r[class][class]{padding-left:0;padding-right:0;}
.dir-rtl.sxjq0r[class][class]{padding-right:0;padding-left:0;}
.dir.atm_gi_idpfg4{margin:0;} .dir.atm_gi_idpfg4{margin:0;}
.dir.atm_l8_idpfg4{padding:0;} .dir.atm_l8_idpfg4{padding:0;}
.atm_mj_glywfm{pointer-events:none;} .atm_mj_glywfm{pointer-events:none;}
.atm_vb_glywfm{user-select:none;} .atm_vb_glywfm{user-select:none;}
.atm_vv_1jtmq4{white-space:pre-wrap;} .atm_vv_1jtmq4{white-space:pre-wrap;}
.dir-ltr.atm_lk_idpfg4.atm_lk_idpfg4{padding-left:0;}
.dir-rtl.atm_lk_idpfg4.atm_lk_idpfg4{padding-right:0;} .dir-ltr.atm_lk_idpfg4.atm_lk_idpfg4{padding-left:0;} .dir-rtl.atm_lk_idpfg4.atm_lk_idpfg4{padding-right:0;}
.dir-ltr.atm_ll_idpfg4.atm_ll_idpfg4{padding-right:0;}
.dir-rtl.atm_ll_idpfg4.atm_ll_idpfg4{padding-left:0;} .dir-ltr.atm_ll_idpfg4.atm_ll_idpfg4{padding-right:0;} .dir-rtl.atm_ll_idpfg4.atm_ll_idpfg4{padding-left:0;}
.atm_9m99np_1o8liyq:nth-of-type(1n){display:inline-block;} .atm_9m99np_1o8liyq:nth-of-type(1n){display:inline-block;}
.s17u9nly[class][class]{display:flex;justify-content:space-between;}
.s6u11ma[class][class]{flex:none;height:56px;overflow:hidden;width:56px;}
.dir.s6u11ma[class][class]{border-radius:50%;transform:translate3d(0,0,0);}
.dir-ltr.s6u11ma[class][class]{margin-left:24px;}
.dir-rtl.s6u11ma[class][class]{margin-right:24px;}
.skekel7[class][class]{height:16px;width:120px;}
.dir.skekel7[class][class]{margin-top:14px;}
.s1c9us9s[class][class]{flex:auto;}
.s1u2p366[class][class]{height:24px;width:100%;}@media (min-width:744px){.s1u2p366[class][class]{width:360px;}}
