.dir.atm_h3_idpfg4:is(*, .dir#x){margin-top:0;} .dir.atm_h3_idpfg4:is(*, .dir#x){margin-top:0;}
.dir.atm_gq_idpfg4:is(*, .dir#x){margin-bottom:0;} .dir.atm_gq_idpfg4:is(*, .dir#x){margin-bottom:0;}
.dir-ltr.atm_gz_1wugsn5:is(*, .dir-ltr#x){margin-left:auto;}
.dir-rtl.atm_gz_1wugsn5:is(*, .dir-rtl#x){margin-right:auto;} .dir-ltr.atm_gz_1wugsn5:is(*, .dir-ltr#x){margin-left:auto;} .dir-rtl.atm_gz_1wugsn5:is(*, .dir-rtl#x){margin-right:auto;}
.dir-ltr.atm_h0_1wugsn5:is(*, .dir-ltr#x){margin-right:auto;}
.dir-rtl.atm_h0_1wugsn5:is(*, .dir-rtl#x){margin-left:auto;} .dir-ltr.atm_h0_1wugsn5:is(*, .dir-ltr#x){margin-right:auto;} .dir-rtl.atm_h0_1wugsn5:is(*, .dir-rtl#x){margin-left:auto;}
.dir.atm_r3_1h6ojuz{text-align:center;} .dir.atm_r3_1h6ojuz{text-align:center;}
.atm_vv_1q9ccgz{white-space:nowrap;} .atm_vv_1q9ccgz{white-space:nowrap;}
.atm_mk_stnw88{position:absolute;} .atm_mk_stnw88{position:absolute;}
.atm_tk_1ssbidh{top:50%;} .atm_tk_1ssbidh{top:50%;}
.dir-ltr.atm_fq_1ssbidh{left:50%;}
.dir-rtl.atm_fq_1ssbidh{right:50%;} .dir-ltr.atm_fq_1ssbidh{left:50%;} .dir-rtl.atm_fq_1ssbidh{right:50%;}
.dir-ltr.atm_tr_dbra1j{transform:translateX(-50%) translateY(-50%);}
.dir-rtl.atm_tr_dbra1j{transform:translateX(50%) translateY(-50%);} .dir-ltr.atm_tr_dbra1j{transform:translateX(-50%) translateY(-50%);} .dir-rtl.atm_tr_dbra1j{transform:translateX(50%) translateY(-50%);}
@keyframes dot{0%,80%,100%{opacity:0;}30%,50%{opacity:1;}}
.dir.atm_2d_11x86a4:is(*, .dir#x){background-color:black;} .dir.atm_2d_11x86a4:is(*, .dir#x){background-color:black;}
.atm_vy_i2wt44{width:6px;} .atm_vy_i2wt44{width:6px;}
.atm_e2_i2wt44{height:6px;} .atm_e2_i2wt44{height:6px;}
.dir-ltr.atm_h0_1y44olf:is(*, .dir-ltr#x){margin-right:4px;}
.dir-rtl.atm_h0_1y44olf:is(*, .dir-rtl#x){margin-left:4px;} .dir-ltr.atm_h0_1y44olf:is(*, .dir-ltr#x){margin-right:4px;} .dir-rtl.atm_h0_1y44olf:is(*, .dir-rtl#x){margin-left:4px;}
.dir.atm_5j_1osqo2v{border-radius:100%;} .dir.atm_5j_1osqo2v{border-radius:100%;}
.atm_9s_1o8liyq{display:inline-block;} .atm_9s_1o8liyq{display:inline-block;}
.dir-ltr.atm_1c_1puvm74:is(*, .dir-ltr#x){animation-name:dot;}
.dir-rtl.atm_1c_1puvm74:is(*, .dir-rtl#x){animation-name:dot;} .dir-ltr.atm_1c_1puvm74:is(*, .dir-ltr#x){animation-name:dot;} .dir-rtl.atm_1c_1puvm74:is(*, .dir-rtl#x){animation-name:dot;}
.dir-ltr.atm_y_17f45by:is(*, .dir-ltr#x){animation-duration:0.8s;}
.dir-rtl.atm_y_17f45by:is(*, .dir-rtl#x){animation-duration:0.8s;} .dir-ltr.atm_y_17f45by:is(*, .dir-ltr#x){animation-duration:0.8s;} .dir-rtl.atm_y_17f45by:is(*, .dir-rtl#x){animation-duration:0.8s;}
.dir-ltr.atm_16_12c5xpv:is(*, .dir-ltr#x){animation-iteration-count:infinite;}
.dir-rtl.atm_16_12c5xpv:is(*, .dir-rtl#x){animation-iteration-count:infinite;} .dir-ltr.atm_16_12c5xpv:is(*, .dir-ltr#x){animation-iteration-count:infinite;} .dir-rtl.atm_16_12c5xpv:is(*, .dir-rtl#x){animation-iteration-count:infinite;}
.dir-ltr.atm_1k_p3knf3:is(*, .dir-ltr#x){animation-timing-function:linear;}
.dir-rtl.atm_1k_p3knf3:is(*, .dir-rtl#x){animation-timing-function:linear;} .dir-ltr.atm_1k_p3knf3:is(*, .dir-ltr#x){animation-timing-function:linear;} .dir-rtl.atm_1k_p3knf3:is(*, .dir-rtl#x){animation-timing-function:linear;}
.dir-ltr.atm_12_1hrf63d:is(*, .dir-ltr#x){animation-fill-mode:both;}
.dir-rtl.atm_12_1hrf63d:is(*, .dir-rtl#x){animation-fill-mode:both;} .dir-ltr.atm_12_1hrf63d:is(*, .dir-ltr#x){animation-fill-mode:both;} .dir-rtl.atm_12_1hrf63d:is(*, .dir-rtl#x){animation-fill-mode:both;}
.atm_vh_nkobfv{vertical-align:middle;} .atm_vh_nkobfv{vertical-align:middle;}
.dir-ltr.atm_q_bwqryj:is(*, .dir-ltr#x){animation-delay:-0.3s;}
.dir-rtl.atm_q_bwqryj:is(*, .dir-rtl#x){animation-delay:-0.3s;} .dir-ltr.atm_q_bwqryj:is(*, .dir-ltr#x){animation-delay:-0.3s;} .dir-rtl.atm_q_bwqryj:is(*, .dir-rtl#x){animation-delay:-0.3s;}
.dir-ltr.atm_q_1gqjw39:is(*, .dir-ltr#x){animation-delay:-0.15s;}
.dir-rtl.atm_q_1gqjw39:is(*, .dir-rtl#x){animation-delay:-0.15s;} .dir-ltr.atm_q_1gqjw39:is(*, .dir-ltr#x){animation-delay:-0.15s;} .dir-rtl.atm_q_1gqjw39:is(*, .dir-rtl#x){animation-delay:-0.15s;}
.dir-ltr.atm_h0_idpfg4:is(*, .dir-ltr#x){margin-right:0;}
.dir-rtl.atm_h0_idpfg4:is(*, .dir-rtl#x){margin-left:0;} .dir-ltr.atm_h0_idpfg4:is(*, .dir-ltr#x){margin-right:0;} .dir-rtl.atm_h0_idpfg4:is(*, .dir-rtl#x){margin-left:0;}
