.dir.atm_3f_glywfm{border:none;} .dir.atm_3f_glywfm{border:none;}
.dir.atm_h3_idpfg4:is(*, .dir#x){margin-top:0;} .dir.atm_h3_idpfg4:is(*, .dir#x){margin-top:0;}
.dir.atm_gq_idpfg4:is(*, .dir#x){margin-bottom:0;} .dir.atm_gq_idpfg4:is(*, .dir#x){margin-bottom:0;}
.dir-ltr.atm_gz_idpfg4:is(*, .dir-ltr#x){margin-left:0;}
.dir-rtl.atm_gz_idpfg4:is(*, .dir-rtl#x){margin-right:0;} .dir-ltr.atm_gz_idpfg4:is(*, .dir-ltr#x){margin-left:0;} .dir-rtl.atm_gz_idpfg4:is(*, .dir-rtl#x){margin-right:0;}
.dir-ltr.atm_h0_idpfg4:is(*, .dir-ltr#x){margin-right:0;}
.dir-rtl.atm_h0_idpfg4:is(*, .dir-rtl#x){margin-left:0;} .dir-ltr.atm_h0_idpfg4:is(*, .dir-ltr#x){margin-right:0;} .dir-rtl.atm_h0_idpfg4:is(*, .dir-rtl#x){margin-left:0;}
.dir.atm_lo_idpfg4:is(*, .dir#x){padding-top:0;} .dir.atm_lo_idpfg4:is(*, .dir#x){padding-top:0;}
.dir.atm_le_idpfg4:is(*, .dir#x){padding-bottom:0;} .dir.atm_le_idpfg4:is(*, .dir#x){padding-bottom:0;}
.dir-ltr.atm_lk_idpfg4:is(*, .dir-ltr#x){padding-left:0;}
.dir-rtl.atm_lk_idpfg4:is(*, .dir-rtl#x){padding-right:0;} .dir-ltr.atm_lk_idpfg4:is(*, .dir-ltr#x){padding-left:0;} .dir-rtl.atm_lk_idpfg4:is(*, .dir-rtl#x){padding-right:0;}
.dir-ltr.atm_ll_idpfg4:is(*, .dir-ltr#x){padding-right:0;}
.dir-rtl.atm_ll_idpfg4:is(*, .dir-rtl#x){padding-left:0;} .dir-ltr.atm_ll_idpfg4:is(*, .dir-ltr#x){padding-right:0;} .dir-rtl.atm_ll_idpfg4:is(*, .dir-rtl#x){padding-left:0;}
.atm_9s_1txwivl{display:flex;} .atm_9s_1txwivl{display:flex;}
.atm_bx_1ltc5j7:is(*,#x){font-family:var(--e-ls-qkw);} .atm_bx_1ltc5j7:is(*,#x){font-family:var(--e-ls-qkw);}
.atm_c8_exq1xd:is(*,#x){font-size:var(--ll-l-ys-f);} .atm_c8_exq1xd:is(*,#x){font-size:var(--ll-l-ys-f);}
.atm_g3_1pezo5y:is(*,#x){line-height:var(--f-xgviq);} .atm_g3_1pezo5y:is(*,#x){line-height:var(--f-xgviq);}
.atm_7l_18pqv07{color:var(--f-k-smk-x);} .atm_7l_18pqv07{color:var(--f-k-smk-x);}
.dir.atm_h3_yh40bf:is(*, .dir#x){margin-top:2px;} .dir.atm_h3_yh40bf:is(*, .dir#x){margin-top:2px;}
.dir-ltr.atm_gz_exct8b:is(*, .dir-ltr#x){margin-left:16px;}
.dir-rtl.atm_gz_exct8b:is(*, .dir-rtl#x){margin-right:16px;} .dir-ltr.atm_gz_exct8b:is(*, .dir-ltr#x){margin-left:16px;} .dir-rtl.atm_gz_exct8b:is(*, .dir-rtl#x){margin-right:16px;}
.w1y25zdv.i144hzgs .c1mzlq0d:is(*,#x#x):is(*,#x#x):is(*,#x#x){color:var(--f-mkcy-f);}.dir.w1y25zdv.i144hzgs .c1mzlq0d:is(*, .dir#x#x):is(*, .dir#x#x):is(*, .dir#x#x){background-color:var(--fhi-qn-u);border-radius:50%;}
.s1lrsujf.i144hzgs .c1mzlq0d:is(*,#x#x):is(*,#x#x):is(*,#x#x){color:var(--f-mkcy-f);}.dir.s1lrsujf.i144hzgs .c1mzlq0d:is(*, .dir#x#x):is(*, .dir#x#x):is(*, .dir#x#x){background-color:var(--k-ff-my-a);border-radius:50%;}
