<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      data-is-hyperloop="true" data-hyperloop-version="1"  dir="ltr">
<head>
    <meta charSet="utf-8" />
    <link href="https://a0.muscache.com/airbnb/static/packages/dls/dls-lite_cereal-32f4a55b7a0ed9ca55714ba7265a6c84.css"
        rel="stylesheet" type="text/css" media="all" crossorigin="anonymous" />
    <title>결제 및 대금 수령 방법 - 계정 관리 - 에어비앤비</title>
    <link rel="stylesheet" href="/lib/css/account_pay1.css">
    <link rel="stylesheet" href="/lib/css/acc_header.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body class="with-new-header">
    <div id="site-skip-links"><a class="screen-reader-only screen-reader-only-focusable skip-to-content"
            data-hook="skip-to-content" href="#site-content">콘텐츠로 바로가기</a><span id="popups-everywhere-skip-link"></span>
    </div>
    <div id="smart-banner"></div><noscript>
        <div class="alert alert-with-icon alert-error no-js-alert" data-nosnippet="true"><i
                class="icon alert-icon icon-alert-alt"></i>죄송합니다. 에어비앤비 웹사이트의 일부는 자바스크립트가 활성화되어 있지 않으면 제대로 작동하지 않습니다.
        </div>
    </noscript>
    <div id="flash-container" class="flash-container" role="alert" aria-live="assertive"></div>
    <div id="education-overlay-root"></div>
    <div data-application="true">
        <div dir="ltr">
            <div data-theme="" class="t1bgcr6e ">
                <div>
                    <div>
                        <div
                            style="--view-to-view-transition-element-opacity:0;--view-to-view-transition-element-visibility:hidden">
                            <div class="_is5jnq">
                                <div class="_16grqhk">
                                    <!--acc_header nav-->
                                    <div th:replace="fragment/acc_header :: acc_header"></div>
                                    <!--acc_header nav-->
                                    <main id="site-content">
                                        <div class="_88xxct">
                                            <div class="_mwt4r90">
                                                <div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0">
                                                    <div style="margin-bottom:48px">
                                                        <section>
                                                            <div style="margin-top:40px;margin-bottom:40px">
                                                                <nav aria-label="계정">
                                                                    <ol class="_1ckj08w">
                                                                        <li class="_36rlri"><span class="_121z06r2"><a
                                                                                    href="/pages/account_main"
                                                                                    class="_sgg9wmi"
                                                                                    aria-busy="false">계정</a></span></li>
                                                                        <li class="_36rlri">
                                                                            <div class="_36rlri"
                                                                                style="margin-left:16px;margin-right:16px">
                                                                                <svg viewBox="0 0 18 18"

                                                                                    aria-hidden="true" focusable="false"
                                                                                    style="height:10px;width:10px;fill:#767676">
                                                                                    <path
                                                                                        d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                                                                                        fill-rule="evenodd" />
                                                                                </svg></div><span aria-current="step"
                                                                                class="_121z06r2">결제 및 대금 수령</span>
                                                                        </li>
                                                                    </ol>
                                                                </nav>
                                                                <div style="margin-top:12px">
                                                                    <h1 tabindex="-1" elementtiming="LCP-target"
                                                                        class="_14i3z6h">
                                                                        <div class="_1yrl4d7p">결제 및 대금 수령</div>
                                                                    </h1>
                                                                </div>
                                                            </div>
                                                            <div class="_2h22gn">
                                                                <div class="_169grxv2">
                                                                    <div id="account-settings-main-navigation-tabs">
                                                                        <div class="_e296pg">
                                                                            <div class="_1xkr92p"
                                                                                data-testid="tab-list-wrapper">
                                                                                <div class="_qc3ank" role="tablist">
                                                                                    <button type="button"
                                                                                        id="tab--account-settings-main-navigation-tabs--0"
                                                                                        aria-controls="panel--account-settings-main-navigation-tabs--0"
                                                                                        aria-selected="true"
                                                                                        class="_fd0fliz"
                                                                                        role="tab">결제</button><button
                                                                                        type="button"
                                                                                        id="tab--account-settings-main-navigation-tabs--1"
                                                                                        aria-controls="panel--account-settings-main-navigation-tabs--1"
                                                                                        aria-selected="false"
                                                                                        class="_tns11i" role="tab"
                                                                                        onclick="location.href='/pages/account_pay2'"
                                                                                        tabindex="-1">대금
                                                                                        수령</button><button type="button"
                                                                                        id="tab--account-settings-main-navigation-tabs--2"
                                                                                        aria-controls="panel--account-settings-main-navigation-tabs--2"
                                                                                        aria-selected="false"
                                                                                        class="_tns11i" role="tab"
                                                                                        onclick="location.href='/pages/account_pay3'"
                                                                                        tabindex="-1">세금</button><button
                                                                                        type="button"
                                                                                        id="tab--account-settings-main-navigation-tabs--3"
                                                                                        aria-controls="panel--account-settings-main-navigation-tabs--3"
                                                                                        aria-selected="false"
                                                                                        class="_tns11i" role="tab"
                                                                                        onclick="location.href='/pages/account_pay4'"
                                                                                        tabindex="-1">게스트 기부금</button>
                                                                                </div>
                                                                            </div>
                                                                            <div class="_1wadwfl"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="_17pxz94u">
                                                                    <div></div>
                                                                </div>
                                                            </div>

                                                            <div dir="ltr">
                                                                <div data-theme="" class="t1bgcr6e ">
                                                                    <div>
                                                                        <div class="_dj903s">
                                                                            <div class="_jtezirx">
                                                                                <div class="_cer3z5">
                                                                                    <section>
                                                                                        <div class="_wrz7pg">
                                                                                            <h2 tabindex="-1" class="_14i3z6h" elementtiming="LCP-target">결제 내역</h2>
                                                                                        </div>
                                                                                        <div class="_1svb1u7"></div>
                                                                                    </section>
                                                                                    <div class="_1tkkcmd">모든 결제 및 환불 내역을 확인하세요.</div>
                                                                                    <div class="_w99wiq"><a href="pages/account_pay1-1" class="_1ku51f04">결제
                                                                                            관리하기</a></div>
                                                                                </div>
                                                                                <div class="_gor68n">
                                                                                    <div class="_6htn2u">
                                                                                        <div id="FMP-target">
                                                                                            <section>
                                                                                                <div class="_wrz7pg">
                                                                                                    <h2 tabindex="-1" class="_14i3z6h" elementtiming="LCP-target">결제 수단</h2>
                                                                                                </div>
                                                                                                <div class="_1svb1u7">에어비앤비의 안전한 결제 시스템을 이용해 결제 수단을 추가하고 다음 여행 계획을 세워 보세요.</div>
                                                                                            </section>
                                                                                            <div style="margin-top: 16px;"></div>
                                                                                            <div class="_f5l3jt"></div>
                                                                                            <div style="margin-top: 24px; margin-bottom: 24px;"><button type="button"
                                                                                                    class="_1ku51f04" id="btn2">결제 수단 추가</button></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="_1gjb1vzp">
                                                                                <div class="_1j8lpo3">
                                                                                    <section><svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                                                             focusable="false"
                                                                                            style="display: block; height: 48px; width: 48px; fill: rgb(227, 28, 95); stroke: currentcolor;">
                                                                                            <g>
                                                                                                <g stroke="none">
                                                                                                    <path
                                                                                                        d="m41.999 10v24h-4.287l1.01-.6546823c.242375-.158375.3706719-.3933125.3998895-.6646172l.0064994-.1183828c.004513-1.4230639-2.4648559-3.6737529-5.4115565-1.9238459l-.1928324.1198459-5.278 3.2416823-2.2539866.0005578c.1712874-1.0118843-.1666572-1.9090959-.8837185-1.9909612l-.1084949-.0060789-19.0018-.0005177.001-22.003z"
                                                                                                        fill-opacity=".2"></path>
                                                                                                    <path
                                                                                                        d="m44 6c1.0543618 0 1.9181651.81587779 1.9945143 1.85073766l.0054857.14926234v28c0 1.0543618-.8158778 1.9181651-1.8507377 1.9945143l-.1492623.0054857h-12.446l3.079-2h9.367v-28h-40v24.0033177c-.51283584 0-.93550716.3860402-.99327227.8833788l-.00672773.1166212-.00007248 4.729076c-.55177975-.3192182-.93689844-.8944853-.9928825-1.5633277l-.00704502-.169066v-28c0-1.0543618.81587779-1.91816512 1.85073766-1.99451426l.14926234-.00548574zm-20 9c3.8659932 0 7 3.1340068 7 7s-3.1340068 7-7 7-7-3.1340068-7-7 3.1340068-7 7-7zm0 2c-2.7614237 0-5 2.2385763-5 5s2.2385763 5 5 5 5-2.2385763 5-5-2.2385763-5-5-5zm-15-5c.55228475 0 1 .4477153 1 1s-.44771525 1-1 1-1-.4477153-1-1 .44771525-1 1-1z">
                                                                                                    </path>
                                                                                                </g>
                                                                                                <g fill="none" stroke-width="2">
                                                                                                    <path
                                                                                                        d="m24.9998 32.0035177c1.3716282 0 1.5099129 2.8120004-.3683588 4.2183752l8.8925588-5.4635752c3.031-1.968 5.609.35 5.6043889 1.804-.0013889.321-.1293889.602-.4063889.783l-17.2344901 11.1920163c-.947203.6151103-2.110299.8011277-3.2021.5121216l-14.54130246-3.8491683c-.43862489-.1161066-.74410744-.5129735-.74410744-.9667052v-7.2302644c0-.5522848.44771525-1 1-1z">
                                                                                                    </path>
                                                                                                    <path
                                                                                                        d="m13.9998 37.0035177h8.051c1.2682235 0 2.2021119-.4127594 2.8457108-1.0010914">
                                                                                                    </path>
                                                                                                </g>
                                                                                            </g>
                                                                                        </svg>
                                                                                        <div class="_1dm60y4">
                                                                                            <h2 tabindex="-1" class="_14i3z6h" elementtiming="LCP-target">에어비앤비를 통해서만 결제하세요.</h2>
                                                                                        </div>
                                                                                        <div class="_7a96q1">에어비앤비의 <a href="/terms" class="_1sikdxcl">서비스 약관</a>, <a
                                                                                                href="/terms/payments_terms" class="_1sikdxcl">결제 서비스 약관</a>, 환불 정책 및 기타 안전장치의 보호를
                                                                                            받으려면 항상 에어비앤비를 통해 결제와 커뮤니케이션을 진행하시기 바랍니다.<a
                                                                                                href="/help/topic/1121/payment-methods?q=payments" class="_1sikdxcl">자세히 알아보기</a>.
                                                                                        </div>
                                                                                    </section>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="_b21f4g">
                                                                        <div aria-live="polite" aria-atomic="true"></div>
                                                                        <div aria-live="assertive" aria-atomic="true"></div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </main>
                                </div>
                                 <!--footer-->
                                <div th:replace="fragment/footer :: footer"></div>
                                <!-- footer end-->
                            </div>
                            <div class="t2pjd0h dir dir-ltr">
                                <div class="t6qlz27 dir dir-ltr" data-testid="Incoming"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_b21f4g">
                    <div aria-live="polite" aria-atomic="true"></div>
                    <div aria-live="assertive" aria-atomic="true"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
    <div id="authModals"></div>
    <div id="scroll-hit-tester-0" style="top: 0px; position: absolute; height: 1px; width: 1px; z-index: -1; contain: strict;" aria-hidden="true"></div>
    <div id="scroll-hit-tester-20" style="top: 20px; position: absolute; height: 1px; width: 1px; z-index: -1; contain: strict;" aria-hidden="true"></div>
    <div dir="ltr" id="itrdiv1" style="display:none;">
        <div class="_1t0jy5tw"></div>
        <section>
            <div class="_vxvq8x" data-testid="modal-container">
                <div class="_z4lmgp">
                    <div class="_b21f4g" aria-hidden="true" tabindex="0"></div>
                    <div class="_z4lmgp">
                        <div role="dialog" aria-label="카드 상세정보 추가하기" aria-modal="true" class="_1ucy1zjv"
                            style="position: relative;">
                            <div class="_pa35zs"><button aria-label="닫기" type="button" class="_oda838"><span
                                        class="_e296pg"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
                                            aria-hidden="true"  focusable="false"
                                            style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
                                            <path d="m6 6 20 20"></path>
                                            <path d="m26 6-20 20"></path>
                                        </svg></span></button></div>
                            <header class="_1djourq">
                                <div class="_1tng6ym"></div>
                                <div class="_9t7ktw">
                                    <h1 tabindex="-1" class="_14i3z6h" elementtiming="LCP-target">
                                        <div class="_1q9sh65">
                                            <div class="_b9qfkc2">카드 상세정보 추가하기</div>
                                        </div>
                                    </h1>
                                </div>
                                <div class="_rrmdgl"></div>
                            </header>
                            <div class="_12kfhdn">
                                <div style="margin-top: 16px;">
                                    <div class="_v0ipn8">
                                        <div class="_1jj61m9"><label class="_1yw7hpv" for="zipCode">
                                                <div class="_1m2ich98">
                                                    <div class="_11hx67x">우편번호</div>
                                                </div>
                                                <div dir="ltr">
                                                    <div class="_fywymp7"><input name="zipCode" errormessage=""
                                                            class="_c5rhl5" id="zipCode" autocomplete="off" type="text"
                                                            aria-describedby="" value=""></div>
                                                </div>
                                            </label></div>
                                    </div>
                                    <div class="_14yb6ke" role="button" tabindex="0"><label for="billing_country_selector"
                                            class="_13kgb0p">
                                            <div class="_zhftk97">
                                                <div class="_11hx67x">국가/지역</div>
                                            </div>
                                            <div class="_1ekxhnk" id="billing_country_selector">한국</div>
                                        </label>
                                        <div class="_lmil0"><svg viewBox="0 0 18 18"  aria-hidden="true"
                                                focusable="false"
                                                style="height: 16px; width: 16px; display: block; fill: currentcolor;">
                                                <path
                                                    d="m16.29 4.3a1 1 0 1 1 1.41 1.42l-8 8a1 1 0 0 1 -1.41 0l-8-8a1 1 0 1 1 1.41-1.42l7.29 7.29z"
                                                    fill-rule="evenodd"></path>
                                            </svg></div>
                                    </div>
                                </div>
                            </div>
                            <footer class="_zgc1p6">
                                <div style="margin-top: 8px; margin-left: 8px;">
                                    <div class="_h6avcp2"><button type="button" class="_15rpys7s">취소</button></div>
                                </div>
                                <div>
                                    <div data-testid="submit-button"><button type="button" class="_1ku51f04 submitbtn"><span
                                                class="_14d5b3i"><span class="_3hmsj">완료</span></span></button></div>
                                </div>
                            </footer>
                        </div>
                         <!--footer-->
                    </div>
                    <div class="_b21f4g" aria-hidden="true" tabindex="0"></div>
                </div>
            </div>
        </section>
        <div class="_b21f4g">
            <div aria-live="polite" aria-atomic="true"></div>
            <div aria-live="assertive" aria-atomic="true"></div>
        </div>
    </div>
</body>
<script src="/lib/js/member/account_pay1.js"></script>
<script src="/lib/js/member/acc_loginpop.js"></script>
</html>