<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      data-is-hyperloop="true" data-hyperloop-version="1"  dir="ltr">
    <head>
        <meta charSet="utf-8" />
        <title>대금 수령 방법 관리 - 에어비앤비</title>
        <link href="https://a0.muscache.com/airbnb/static/packages/dls/dls-lite_cereal-32f4a55b7a0ed9ca55714ba7265a6c84.css"
        rel="stylesheet" type="text/css" media="all" crossorigin="anonymous" />
        <link rel="stylesheet" href="/lib/css/account_pay2.css">
        <link rel="stylesheet" href="/lib/css/loginpop.css">
        <link rel="stylesheet" href="/lib/css/acc_header.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <body class="with-new-header">
        <div id="site-skip-links"><a class="screen-reader-only screen-reader-only-focusable skip-to-content"
                data-hook="skip-to-content" href="#site-content">콘텐츠로 바로가기</a><span
                id="popups-everywhere-skip-link"></span>
        </div>
        <div id="smart-banner"></div><noscript>
            <div class="alert alert-with-icon alert-error no-js-alert" data-nosnippet="true"><i
                    class="icon alert-icon icon-alert-alt"></i>죄송합니다. 에어비앤비 웹사이트의 일부는 자바스크립트가 활성화되어 있지 않으면 제대로 작동하지
                않습니다.
            </div>
        </noscript>
        <div id="flash-container" class="flash-container" role="alert" aria-live="assertive"></div>
        <div id="education-overlay-root"></div>
        <div data-application="true">
            <div dir="ltr">
                <div data-theme="" class="t1bgcr6e ">
                    <div>
                        <div>
                            <div
                                style="--view-to-view-transition-element-opacity:0;--view-to-view-transition-element-visibility:hidden">
                                <div class="_is5jnq">
                                    <div class="_16grqhk">
                                        <!--acc_header nav-->
                                        <div th:replace="fragment/acc_header :: acc_header"></div>
                                        <!--acc_header nav-->
                                        <main id="site-content">
                                            <div class="_88xxct">
                                                <div class="_mwt4r90">
                                                    <div
                                                        style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0">
                                                        <div style="margin-bottom:48px">
                                                            <section>
                                                                <div style="margin-top:40px;margin-bottom:40px">
                                                                    <nav aria-label="계정">
                                                                        <ol class="_1ckj08w">
                                                                            <li class="_36rlri"><span
                                                                                    class="_121z06r2"><a
                                                                                        href="/pages/account_main"
                                                                                        class="_sgg9wmi"
                                                                                        aria-busy="false">계정</a></span>
                                                                            </li>
                                                                            <li class="_36rlri">
                                                                                <div class="_36rlri"
                                                                                    style="margin-left:16px;margin-right:16px">
                                                                                    <svg viewBox="0 0 18 18"

                                                                                        aria-hidden="true"
                                                                                        focusable="false"
                                                                                        style="height:10px;width:10px;fill:#767676">
                                                                                        <path
                                                                                            d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z"
                                                                                            fill-rule="evenodd" />
                                                                                    </svg>
                                                                                </div><span aria-current="step"
                                                                                    class="_121z06r2">결제 및 대금 수령</span>
                                                                            </li>
                                                                        </ol>
                                                                    </nav>
                                                                    <div style="margin-top:12px">
                                                                        <h1 tabindex="-1" elementtiming="LCP-target"
                                                                            class="_14i3z6h">
                                                                            <div class="_1yrl4d7p">결제 및 대금 수령</div>
                                                                        </h1>
                                                                    </div>
                                                                </div>
                                                                <div class="_2h22gn">
                                                                    <div class="_169grxv2">
                                                                        <div id="account-settings-main-navigation-tabs">
                                                                            <div class="_e296pg">
                                                                                <div class="_1xkr92p"
                                                                                    data-testid="tab-list-wrapper">
                                                                                    <div class="_qc3ank" role="tablist">
                                                                                        <button type="button"
                                                                                            id="tab--account-settings-main-navigation-tabs--0"
                                                                                            aria-controls="panel--account-settings-main-navigation-tabs--0"
                                                                                            aria-selected="false"
                                                                                            class="_tns11i" role="tab"
                                                                                                onclick="location.href='/pages/account_pay1'"
                                                                                            tabindex="-1">결제</button><button
                                                                                            type="button"
                                                                                            id="tab--account-settings-main-navigation-tabs--1"
                                                                                            aria-controls="panel--account-settings-main-navigation-tabs--1"
                                                                                            aria-selected="true"
                                                                                            class="_fd0fliz"
                                                                                            role="tab">대금
                                                                                            수령</button><button
                                                                                            type="button"
                                                                                            id="tab--account-settings-main-navigation-tabs--2"
                                                                                            aria-controls="panel--account-settings-main-navigation-tabs--2"
                                                                                            aria-selected="false"
                                                                                            class="_tns11i" role="tab"
                                                                                            onclick="location.href='/pages/account_pay3'"
                                                                                            tabindex="-1">세금</button><button
                                                                                            type="button"
                                                                                            id="tab--account-settings-main-navigation-tabs--3"
                                                                                            aria-controls="panel--account-settings-main-navigation-tabs--3"
                                                                                            aria-selected="false"
                                                                                            class="_tns11i" role="tab"
                                                                                            onclick="location.href='/pages/account_pay4'"
                                                                                            tabindex="-1">게스트
                                                                                            기부금</button>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="_1wadwfl"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="_17pxz94u">
                                                                        <div></div>
                                                                    </div>
                                                                </div>
                                                                <div dir="ltr">
                                                                    <div data-theme="" class="t1bgcr6e ">
                                                                        <div>
                                                                            <div dir="ltr">
                                                                                <div class="_dj903s">
                                                                                    <div class="_jtezirx">
                                                                                        <div style="margin-top: 32px;">
                                                                                            <div>
                                                                                                <div
                                                                                                    style="margin-bottom: 16px;">
                                                                                                </div>
                                                                                                <div
                                                                                                    style="margin-bottom: 56px;">
                                                                                                    <section>
                                                                                                        <h1
                                                                                                            class="_1ulo7zo">
                                                                                                            대금 수령 방법
                                                                                                        </h1>
                                                                                                    </section>
                                                                                                    <div
                                                                                                        style="margin-bottom: 16px;">
                                                                                                        <div
                                                                                                            class="_1qydy9m">
                                                                                                            대금을 지급받을 수
                                                                                                            있도록 대금 수령
                                                                                                            방법을 1개 이상
                                                                                                            추가해주세요.
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        style="margin-bottom: 24px;">
                                                                                                        <div></div>
                                                                                                    </div><button
                                                                                                        type="button"
                                                                                                        class="_1ku51f04" onclick="location.href='/pages/account_pay2-1'">대금
                                                                                                        수령 설정</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="_1gjb1vzp">
                                                                                        <div class="_17fxqso">
                                                                                            <h2 class="_ok4lru">도움이
                                                                                                필요하세요?</h2>
                                                                                            <div class="_11ry7lz">
                                                                                                <div
                                                                                                    style="margin-top: 24px; margin-bottom: 24px;">
                                                                                                    <a href="/help/article/425/when-youll-get-your-payout"
                                                                                                        class="_itxk95j">
                                                                                                        <div
                                                                                                            class="_zjunba">
                                                                                                            대금 수령까지 걸리는
                                                                                                            시간<svg
                                                                                                                viewBox="0 0 32 32"
                                                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                                                aria-hidden="true"

                                                                                                                focusable="false"
                                                                                                                style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;">
                                                                                                                <g
                                                                                                                    fill="none">
                                                                                                                    <path
                                                                                                                        d="m12 4 11.2928932 11.2928932c.3905243.3905243.3905243 1.0236893 0 1.4142136l-11.2928932 11.2928932">
                                                                                                                    </path>
                                                                                                                </g>
                                                                                                            </svg></div>
                                                                                                    </a></div>
                                                                                            </div>
                                                                                            <div class="_11ry7lz">
                                                                                                <div
                                                                                                    style="margin-top: 24px; margin-bottom: 24px;">
                                                                                                    <a href="/help/topic/1454/how-payouts-work"
                                                                                                        class="_itxk95j">
                                                                                                        <div
                                                                                                            class="_zjunba">
                                                                                                            대금을 지급받는
                                                                                                            방법<svg
                                                                                                                viewBox="0 0 32 32"
                                                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                                                aria-hidden="true"

                                                                                                                focusable="false"
                                                                                                                style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;">
                                                                                                                <g
                                                                                                                    fill="none">
                                                                                                                    <path
                                                                                                                        d="m12 4 11.2928932 11.2928932c.3905243.3905243.3905243 1.0236893 0 1.4142136l-11.2928932 11.2928932">
                                                                                                                    </path>
                                                                                                                </g>
                                                                                                            </svg></div>
                                                                                                    </a></div>
                                                                                            </div>
                                                                                            <div class="_11ry7lz">
                                                                                                <div
                                                                                                    style="margin-top: 24px; margin-bottom: 24px;">
                                                                                                    <a href="/users/transaction_history"
                                                                                                        class="_itxk95j">
                                                                                                        <div
                                                                                                            class="_zjunba">
                                                                                                            대금 수령 내역으로
                                                                                                            이동<svg
                                                                                                                viewBox="0 0 32 32"
                                                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                                                aria-hidden="true"

                                                                                                                focusable="false"
                                                                                                                style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;">
                                                                                                                <g
                                                                                                                    fill="none">
                                                                                                                    <path
                                                                                                                        d="m12 4 11.2928932 11.2928932c.3905243.3905243.3905243 1.0236893 0 1.4142136l-11.2928932 11.2928932">
                                                                                                                    </path>
                                                                                                                </g>
                                                                                                            </svg></div>
                                                                                                    </a></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="_b21f4g">
                                                                            <div aria-live="polite" aria-atomic="true">
                                                                            </div>
                                                                            <div aria-live="assertive"
                                                                                aria-atomic="true"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </main>
                                    </div>
                                    <!--footer-->
                                    <div th:replace="fragment/footer :: footer"></div>
                                    <!--footer-->
                                </div>
                                <div class="t2pjd0h dir dir-ltr">
                                    <div class="t6qlz27 dir dir-ltr" data-testid="Incoming"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_b21f4g">
                        <div aria-live="polite" aria-atomic="true"></div>
                        <div aria-live="assertive" aria-atomic="true"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fb-root"></div>
        <div id="authModals"></div>
    <!-- 로그인 관련 팝업 모듈-->
        <div th:replace="fragment/login_popup :: login_popup"></div>
    <!-- 로그인 관련 팝업 모듈-->
        <script src="/lib/js/account_pay2.js"></script>
        <script src="/lib/js/acc_loginpop.js"></script>
    </body>
    </html>
