@media (min-width:1128px){.cnatlfb:is(*,#x#x){display:none;}}
.t10tfkhs:is(*,#x#x){font-weight:bold;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);letter-spacing:0.02em;}
.ccmc24d:is(*,#x#x){color:var(--f-k-smk-x);font-size:var(--hr-k-udr);line-height:var(--dpgw-ac);letter-spacing:0.02em;}
