.h1i0omnt[class][class]{contain:paint;}.dir.h1i0omnt[class][class]{margin:0;}
.h13f3zwk[class][class]{height:100%;width:100%;max-width:var(--gp-section-max-width,1120px);}
.dir-ltr.h13f3zwk[class][class]{margin-left:auto;margin-right:auto;}
.dir-rtl.h13f3zwk[class][class]{margin-right:auto;margin-left:auto;}
