.c14z17by[class][class]{color:var(--f-k-smk-x);}.dir.c14z17by[class][class]{background-color:var(--f-mkcy-f);}
.dir.edv54yq[class][class]{margin-top:8px;}
.atm_9s_1txwivl{display:flex;} .atm_9s_1txwivl{display:flex;}
.atm_7l_twqowk{color:grey;} .atm_7l_twqowk{color:grey;}
