.cx1v2qp[class][class]{position:relative;}.dir.cx1v2qp[class][class]{background-color:var(--f-mkcy-f);}
.dir.c10me34[class][class]{background-color:var(--f-mkcy-f);}
.o9ilwgk[class][class]{position:absolute;top:0;bottom:-1px;pointer-events:none;}
.dir.o9ilwgk[class][class]{border-style:solid;border-width:1px;border-color:var(--iw-ihca);}
.dir-ltr.o9ilwgk[class][class]{left:0;right:0;}
.dir-rtl.o9ilwgk[class][class]{right:0;left:0;}
.dir.oeg5rrn[class][class]{border-width:1px;border-color:var(--iw-ihca);}
.dir.atm_2d_1hbpp16.atm_2d_1hbpp16{background-color:var(--f-mkcy-f);} .dir.atm_2d_1hbpp16.atm_2d_1hbpp16{background-color:var(--f-mkcy-f);}
.atm_mk_h2mmj6{position:relative;} .atm_mk_h2mmj6{position:relative;}
.atm_mk_stnw88{position:absolute;} .atm_mk_stnw88{position:absolute;}
.atm_tk_idpfg4{top:0;} .atm_tk_idpfg4{top:0;}
.dir-ltr.atm_fq_idpfg4{left:0;}
.dir-rtl.atm_fq_idpfg4{right:0;} .dir-ltr.atm_fq_idpfg4{left:0;} .dir-rtl.atm_fq_idpfg4{right:0;}
.dir-ltr.atm_n3_idpfg4{right:0;}
.dir-rtl.atm_n3_idpfg4{left:0;} .dir-ltr.atm_n3_idpfg4{right:0;} .dir-rtl.atm_n3_idpfg4{left:0;}
.atm_6i_1n1ank9{bottom:-1px;} .atm_6i_1n1ank9{bottom:-1px;}
.dir.atm_66_nqa18y.atm_66_nqa18y{border-style:solid;} .dir.atm_66_nqa18y.atm_66_nqa18y{border-style:solid;}
.dir.atm_6h_t94yts.atm_6h_t94yts{border-width:1px;} .dir.atm_6h_t94yts.atm_6h_t94yts{border-width:1px;}
.dir.atm_4b_123340r.atm_4b_123340r{border-color:var(--iw-ihca);} .dir.atm_4b_123340r.atm_4b_123340r{border-color:var(--iw-ihca);}
.atm_mj_glywfm{pointer-events:none;} .atm_mj_glywfm{pointer-events:none;}
