.dir.atm_5j_1vi7ecw{border-radius:32px;} .dir.atm_5j_1vi7ecw{border-radius:32px;}
.dir.atm_66_nqa18y.atm_66_nqa18y{border-style:solid;} .dir.atm_66_nqa18y.atm_66_nqa18y{border-style:solid;}
.dir.atm_6h_t94yts.atm_6h_t94yts{border-width:1px;} .dir.atm_6h_t94yts.atm_6h_t94yts{border-width:1px;}
.dir.atm_9j_tlke0l{cursor:pointer;} .dir.atm_9j_tlke0l{cursor:pointer;}
.atm_e2_1vi7ecw{height:32px;} .atm_e2_1vi7ecw{height:32px;}
.atm_mk_h2mmj6{position:relative;} .atm_mk_h2mmj6{position:relative;}
.atm_jb_fyhuej{min-width:48px;} .atm_jb_fyhuej{min-width:48px;}
.atm_vy_fyhuej{width:48px;} .atm_vy_fyhuej{width:48px;}
.dir.atm_xvuojx_1spn1w4.atm_xvuojx_1spn1w4:disabled{background-color:lightgrey;} .dir.atm_xvuojx_1spn1w4.atm_xvuojx_1spn1w4:disabled{background-color:lightgrey;}
.dir.atm_j9qr6e_1spn1w4.atm_j9qr6e_1spn1w4:disabled{border-color:lightgrey;} .dir.atm_j9qr6e_1spn1w4.atm_j9qr6e_1spn1w4:disabled{border-color:lightgrey;}
.dir.atm_174zlj6_13gfvf7:disabled{cursor:not-allowed;} .dir.atm_174zlj6_13gfvf7:disabled{cursor:not-allowed;}
.dir.atm_2d_11x86a4.atm_2d_11x86a4{background-color:black;} .dir.atm_2d_11x86a4.atm_2d_11x86a4{background-color:black;}
.dir.atm_4b_11x86a4.atm_4b_11x86a4{border-color:black;} .dir.atm_4b_11x86a4.atm_4b_11x86a4{border-color:black;}
.dir.atm_2d_1nks7jy.atm_2d_1nks7jy{background-color:darkgrey;} .dir.atm_2d_1nks7jy.atm_2d_1nks7jy{background-color:darkgrey;}
.dir.atm_4b_1nks7jy.atm_4b_1nks7jy{border-color:darkgrey;} .dir.atm_4b_1nks7jy.atm_4b_1nks7jy{border-color:darkgrey;}
.dir.atm_2d_1x778eo.atm_2d_1x778eo{background-color:white;} .dir.atm_2d_1x778eo.atm_2d_1x778eo{background-color:white;}
.dir.atm_5j_1ssbidh{border-radius:50%;} .dir.atm_5j_1ssbidh{border-radius:50%;}
.dir-ltr.atm_fq_1n1ank9{left:-1px;}
.dir-rtl.atm_fq_1n1ank9{right:-1px;} .dir-ltr.atm_fq_1n1ank9{left:-1px;} .dir-rtl.atm_fq_1n1ank9{right:-1px;}
.atm_mk_stnw88{position:absolute;} .atm_mk_stnw88{position:absolute;}
.atm_tk_1n1ank9{top:-1px;} .atm_tk_1n1ank9{top:-1px;}
.dir.atm_tr_161gdfk{transform:translate3d(0,0,0);} .dir.atm_tr_161gdfk{transform:translate3d(0,0,0);}
.atm_vy_1vi7ecw{width:32px;} .atm_vy_1vi7ecw{width:32px;}
.dir-ltr.atm_tr_wffnyp{transform:translate3d(16px,0,0);}
.dir-rtl.atm_tr_wffnyp{transform:translate3d(-16px,0,0);} .dir-ltr.atm_tr_wffnyp{transform:translate3d(16px,0,0);} .dir-rtl.atm_tr_wffnyp{transform:translate3d(-16px,0,0);}
.dir.atm_4b_1spn1w4.atm_4b_1spn1w4{border-color:lightgrey;} .dir.atm_4b_1spn1w4.atm_4b_1spn1w4{border-color:lightgrey;}
.atm_7l_1spn1w4{color:lightgrey;} .atm_7l_1spn1w4{color:lightgrey;}
