.f8infri[class][class]{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}.dir.f8infri[class][class]{margin:0 -24px 0 -24px;}
.f1hmye9g[class][class]{height:750px;}
.f17ijo8h[class][class]{display:flex;flex-direction:column;overflow:hidden;}
.dzo776a[class][class]{width:100%;height:100%;}
