<!doctype html>
<html data-is-hyperloop="true" data-hyperloop-version="1" lang="ko" dir="ltr">
<head>
  <meta charSet="utf-8" />
  <link href="https://a0.muscache.com/airbnb/static/packages/dls/dls-lite_cereal-32f4a55b7a0ed9ca55714ba7265a6c84.css"
        rel="stylesheet" type="text/css" media="all" crossorigin="anonymous" />
  <title>위시리스트</title>
  <link rel="manifest" href="/manifest.json"/>
  <link rel="stylesheet" href="/lib/css/wishlist.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/lib/css/loginpop.css">
</head>
<body class="with-new-header">
<div id="site-skip-links"><a class="screen-reader-only screen-reader-only-focusable skip-to-content"
                             data-hook="skip-to-content" href="#site-content">콘텐츠로 바로가기</a><span id="popups-everywhere-skip-link"></span>
</div>
<div id="smart-banner"></div><noscript>
  <div class="alert alert-with-icon alert-error no-js-alert" data-nosnippet="true"><i
          class="icon alert-icon icon-alert-alt"></i>죄송합니다. 에어비앤비 웹사이트의 일부는 자바스크립트가 활성화되어 있지 않으면 제대로 작동하지 않습니다.
  </div>
</noscript>
<div id="flash-container" class="flash-container" role="alert" aria-live="assertive"></div>
<div id="education-overlay-root"></div>
<div data-application="true">
  <div dir="ltr">
    <div data-theme="" class="t1bgcr6e ">
      <div>
        <div>
          <div
                  style="--view-to-view-transition-element-opacity:0;--view-to-view-transition-element-visibility:hidden">
            <div class="_is5jnq">
              <div class="_16grqhk">
                <!--acc_header nav-->
                <div th:replace ="fragment/acc_header::acc_header"></div>
                <!--acc_header nav-->
                <main id="site-content">
                  <div class="_ydyld2">
                    <div class="_194bnpw">
                      <div class="_o9i32d">
                        <div>
                          <h1 class="_5srvgy" data-shared-element-id="page-marquee">위시리스트
                          </h1>
                        </div>
                      </div>
                      <section>
                        <div class="_h69t7tv">
                          <div>
                            <ul class="_f68cfc">
                              <li class="_gcfn5x"><a class="_zdxht7"
                                                     href="#">
                                <div class="_zdxht7">
                                  <div class="_lwqy2j">
                                    <div class="_aca5sbg">
                                      <div class="_1h6n1zu"
                                           style="display:inline-block;vertical-align:bottom;height:100%;width:100%;min-height:1px">
                                        <img class="_9ofhsl"
                                             style="object-fit:cover;vertical-align:bottom"
                                             aria-hidden="true" alt=""
                                             elementtiming="LCP-target"
                                             id="FMP-target"
                                             src="https://a0.muscache.com/im/pictures/ddf82dd9-ca00-44c9-8b43-34b9874d5a93.jpg?im_w=720"
                                             data-original-uri="https://a0.muscache.com/im/pictures/ddf82dd9-ca00-44c9-8b43-34b9874d5a93.jpg?im_w=720" />
                                        <div class="_15p4g025"
                                             style="background-image:url(https://a0.muscache.com/im/pictures/ddf82dd9-ca00-44c9-8b43-34b9874d5a93.jpg?im_w=720);background-size:cover">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="_96vpykx">
                                      <div class="_1h6n1zu"
                                           style="display:inline-block;vertical-align:bottom;height:100%;width:100%;min-height:1px">
                                        <img class="_9ofhsl"
                                             style="object-fit:cover;vertical-align:bottom"
                                             aria-hidden="true" alt=""
                                             elementtiming="LCP-target"
                                             src="https://a0.muscache.com/im/pictures/60f0aa94-38e6-4d8f-9893-7bee99f67d98.jpg?im_w=720"
                                             data-original-uri="https://a0.muscache.com/im/pictures/60f0aa94-38e6-4d8f-9893-7bee99f67d98.jpg?im_w=720" />
                                        <div class="_15p4g025"
                                             style="background-image:url(https://a0.muscache.com/im/pictures/60f0aa94-38e6-4d8f-9893-7bee99f67d98.jpg?im_w=720);background-size:cover">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="_17xhhvdx">
                                      <div class="_1h6n1zu"
                                           style="display:inline-block;vertical-align:bottom;height:100%;width:100%;min-height:1px">
                                        <img class="_9ofhsl"
                                             style="object-fit:cover;vertical-align:bottom"
                                             aria-hidden="true" alt=""
                                             elementtiming="LCP-target"
                                             src="https://a0.muscache.com/im/pictures/e40cb54e-8263-4f01-baf2-1aa4542d1982.jpg?im_w=720"
                                             data-original-uri="https://a0.muscache.com/im/pictures/e40cb54e-8263-4f01-baf2-1aa4542d1982.jpg?im_w=720" />
                                        <div class="_15p4g025"
                                             style="background-image:url(https://a0.muscache.com/im/pictures/e40cb54e-8263-4f01-baf2-1aa4542d1982.jpg?im_w=720);background-size:cover">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="_tdgb4l">
                                    <div class="_zdxht7">
                                      <!-- 사용자의 이름 출력-->
                                      <div class="_i1ipt1">최종복</div>
                                      <!-- 사용자의 이름 출력-->
                                      <div class="_owkz1m"></div>
                                    </div>
                                  </div>
                                </div>
                              </a></li>
                            </ul>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </main>
              </div>
              <!--footer-->
              <div th:replace="fragment/footer::footer"></div>
              <!--footer-->
            </div>
            <div class="t2pjd0h dir dir-ltr">
              <div class="t6qlz27 dir dir-ltr" data-testid="Incoming"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="_b21f4g">
        <div aria-live="polite" aria-atomic="true"></div>
        <div aria-live="assertive" aria-atomic="true"></div>
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<div id="authModals"></div>
<!-- 로그인 이메일 입력 -->
<div th:replace="fragment/login_popup::login_popup"></div>
<!-- 로그인 새로운 아이디 입력시 회원가입-->
</body>
<script src="/lib/js/member/acc_loginpop.js"></script>
</html>