.dir.rcem0st[class][class]{padding-top:24px;padding-bottom:24px;border-radius:1px;}
.dir.cngiwj8[class][class]{padding-top:16px;padding-bottom:16px;}
.dir.uyl8mnh[class][class]{padding-top:8px;padding-bottom:8px;}
.dir.u6fux4d[class][class]{padding-top:0;padding-bottom:0;}
.dir.d750e13[class][class]{cursor:not-allowed;}
