.t2353uq[class][class]{font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);color:var(--f-k-smk-x);font-weight:var(--jx-zk-pv);}.dir.t2353uq[class][class]{margin-bottom:var(--b-y-unon);margin-top:var(--ic-zlb-s);}
.dir.rcem0st[class][class]{padding-top:24px;padding-bottom:24px;border-radius:1px;}
.dir.cngiwj8[class][class]{padding-top:16px;padding-bottom:16px;}
.dir.uyl8mnh[class][class]{padding-top:8px;padding-bottom:8px;}
.dir.u6fux4d[class][class]{padding-top:0;padding-bottom:0;}
.dir.d750e13[class][class]{cursor:not-allowed;}
