.dhjkeof[class][class]{height:100%;min-height:353px;}
.tzxxw10[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}.dir.tzxxw10[class][class]{padding:16px 11px;}
.cgjb4qp[class][class]{display:inline-block;}
.dir-ltr.cgjb4qp[class][class]{padding-left:8px;}
.dir-rtl.cgjb4qp[class][class]{padding-right:8px;}
