.dir.atm_70_1nb3j6k{box-shadow:inset 0 0 0 1px grey;} .dir.atm_70_1nb3j6k{box-shadow:inset 0 0 0 1px grey;}
.atm_73_usvi9m{box-sizing:border-box;} .atm_73_usvi9m{box-sizing:border-box;}
.dir.atm_70_h1j2yj{box-shadow:inset 0 0 0 2px black;} .dir.atm_70_h1j2yj{box-shadow:inset 0 0 0 2px black;}
.dir.atm_2d_1se0v9d:is(*, .dir#x){background-color:mistyrose;} .dir.atm_2d_1se0v9d:is(*, .dir#x){background-color:mistyrose;}
.dir.atm_70_txllsb{box-shadow:inset 0 0 0 1px firebrick;} .dir.atm_70_txllsb{box-shadow:inset 0 0 0 1px firebrick;}
.dir.atm_2d_twqowk:is(*, .dir#x){background-color:grey;} .dir.atm_2d_twqowk:is(*, .dir#x){background-color:grey;}
.dir.atm_70_1h71lb1{box-shadow:inset 0 0 0 2px firebrick;} .dir.atm_70_1h71lb1{box-shadow:inset 0 0 0 2px firebrick;}
.atm_7l_1kw7nm4{color:inherit;} .atm_7l_1kw7nm4{color:inherit;}
.atm_9s_1ulexfb{display:block;} .atm_9s_1ulexfb{display:block;}
.atm_jb_1osqo2v{min-width:100%;} .atm_jb_1osqo2v{min-width:100%;}
.atm_j3_1osqo2v{max-width:100%;} .atm_j3_1osqo2v{max-width:100%;}
.atm_kd_glywfm{outline:none;} .atm_kd_glywfm{outline:none;}
.dir.atm_3f_glywfm{border:none;} .dir.atm_3f_glywfm{border:none;}
.dir.atm_gi_idpfg4{margin:0;} .dir.atm_gi_idpfg4{margin:0;}
.dir.atm_2d_1j28jx2:is(*, .dir#x){background-color:transparent;} .dir.atm_2d_1j28jx2:is(*, .dir#x){background-color:transparent;}
.atm_1u_glywfm{-webkit-appearance:none;} .atm_1u_glywfm{-webkit-appearance:none;}
.dir.atm_174zlj6_13gfvf7:disabled:is(*, .dir[x][x][x][x][x][x][x]){cursor:not-allowed;} .dir.atm_174zlj6_13gfvf7:disabled:is(*, .dir[x][x][x][x][x][x][x]){cursor:not-allowed;}
.atm_9s_1txwivl{display:flex;} .atm_9s_1txwivl{display:flex;}
.atm_7l_twqowk{color:grey;} .atm_7l_twqowk{color:grey;}
