.atm_c8_exq1xd:is(*,#x){font-size:var(--ll-l-ys-f);} .atm_c8_exq1xd:is(*,#x){font-size:var(--ll-l-ys-f);}
.atm_g3_1pezo5y:is(*,#x){line-height:var(--f-xgviq);} .atm_g3_1pezo5y:is(*,#x){line-height:var(--f-xgviq);}
.dir.atm_lo_exct8b:is(*, .dir#x){padding-top:16px;} .dir.atm_lo_exct8b:is(*, .dir#x){padding-top:16px;}
.dir.atm_le_exct8b:is(*, .dir#x){padding-bottom:16px;} .dir.atm_le_exct8b:is(*, .dir#x){padding-bottom:16px;}
.dir-ltr.atm_lk_1vi7ecw:is(*, .dir-ltr#x){padding-left:32px;}
.dir-rtl.atm_lk_1vi7ecw:is(*, .dir-rtl#x){padding-right:32px;} .dir-ltr.atm_lk_1vi7ecw:is(*, .dir-ltr#x){padding-left:32px;} .dir-rtl.atm_lk_1vi7ecw:is(*, .dir-rtl#x){padding-right:32px;}
.dir-ltr.atm_ll_1vi7ecw:is(*, .dir-ltr#x){padding-right:32px;}
.dir-rtl.atm_ll_1vi7ecw:is(*, .dir-rtl#x){padding-left:32px;} .dir-ltr.atm_ll_1vi7ecw:is(*, .dir-ltr#x){padding-right:32px;} .dir-rtl.atm_ll_1vi7ecw:is(*, .dir-rtl#x){padding-left:32px;}
