.a8jt5op:is(*,#x#x){clip:rect(0 0 0 0);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}.dir.a8jt5op:is(*, .dir#x#x){border:0;padding:0;}
