.ior1o47[class][class]{width:100%;}
.l72o0m3[class][class]{height:var(--cw-a-a-u-a);display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
.a9qtq9i[class][class]{height:var(--cw-a-a-u-a);display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.e188850v[class][class]{-webkit-flex:1;-ms-flex:1;flex:1;}
.dir-ltr.e188850v[class][class]{margin-left:var(--fgg-f-l-a);}
.dir-rtl.e188850v[class][class]{margin-right:var(--fgg-f-l-a);}
.c8xue51[class][class]{white-space:pre-line;}
.t127mvto[class][class]{font-weight:var(--h-oqhch);font-size:var(--kmwb-ss);line-height:var(--j-n-c-d-l-h);}
.dpkmwcy[class][class]{font-size:var(--y-g-ar-y);line-height:var(--cb-pewj);}
