.d7qkrn2[class][class]{height:1px;}.dir.d7qkrn2[class][class]{background:var(--j-qkgmf);margin:8px 0;}
.l1pxf2fz[class][class]{-webkit-align-self:center;-ms-flex-item-align:center;align-self:center;}.dir-ltr.l1pxf2fz[class][class]{margin-right:var(--fgg-f-l-a);}.dir-rtl.l1pxf2fz[class][class]{margin-left:var(--fgg-f-l-a);}
