.c1vrviuw[class][class]{color:var(--f-k-smk-x);}
.s16ualx1[class][class]{font-size:var(--y-g-ar-y);line-height:var(--cb-pewj);font-weight:var(--e-y-j-d-v-j);}
.dir.s16ualx1[class][class]{margin-top:var(--fgg-f-l-a);}
.dir.s1wdt0ab[class][class]{margin-top:0;}
.t1fzjyrl[class][class]{font-size:var(--fy-rs-ca);line-height:var(--d-ar-t-o-n);font-weight:var(--jx-zk-pv);}
.dir.t1fzjyrl[class][class]{margin-top:var(--ikx-k-pe);}
