<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      data-is-hyperloop="true" data-hyperloop-version="1" dir="ltr" class="js-focus-visible"
      style="--vh:8.28px; --vw:19.2px; --vw-unitless:1920; --vw-px:1920px;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>호스트 알림판 - Airbnb</title>
  <link rel="stylesheet" href="/lib/css/host_done.css">
  <link rel="stylesheet" href="/lib/css/host_nav.css">
  <link href="https://a0.muscache.com/airbnb/static/packages/dls/dls-lite_cereal-32f4a55b7a0ed9ca55714ba7265a6c84.css"
  rel="stylesheet" type="text/css" media="all" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body class="with-new-header">
  <div id="site-skip-links"><a class="screen-reader-only screen-reader-only-focusable skip-to-content"
      data-hook="skip-to-content" href="https://www.airbnb.co.kr/hosting#site-content">콘텐츠로 바로가기</a><span
      id="popups-everywhere-skip-link"></span></div>
  <div id="smart-banner"></div><noscript>
    <div class="alert alert-with-icon alert-error no-js-alert" data-nosnippet="true"><i
        class="icon alert-icon icon-alert-alt"></i>죄송합니다. 에어비앤비 웹사이트의 일부는 자바스크립트가 활성화되어 있지 않으면 제대로 작동하지 않습니다.</div>
  </noscript>
  <div id="flash-container" class="flash-container" role="alert" aria-live="assertive"></div>
  <div id="education-overlay-root"></div>
  <div data-application="true">
    <div dir="ltr">
      <div data-theme="" class="t1bgcr6e ">
        <div>
          <div>
            <div class=" dir dir-ltr" style="--vh:8.28px;">
              <!--host_header-->
              <div th:replace="fragment/host_header :: host_header"></div>
              <!--host_header-->
              <main class=" dir dir-ltr" data-testid="site-content" id="site-content">
                <div class="_88xxct">
                  <div class="c1yo0219 dir dir-ltr" style="">
                    <div style="--gp-section-max-width:1120px;">
                      <div data-plugin-in-point-id="HERO_WIDE" data-section-id="HERO_WIDE">
                        <div class="_7qxrko1"
                          style="background: url(&quot;data:image/webp;base64,UklGRoQCAABXRUJQVlA4WAoAAAAgAAAAHQAAHQAASUNDUAwCAAAAAAIMbGNtcwIQAABtbnRyUkdCIFhZWiAH3AABABkAAwApADlhY3NwQVBQTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWxjbXMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApkZXNjAAAA/AAAAF5jcHJ0AAABXAAAAAt3dHB0AAABaAAAABRia3B0AAABfAAAABRyWFlaAAABkAAAABRnWFlaAAABpAAAABRiWFlaAAABuAAAABRyVFJDAAABzAAAAEBnVFJDAAABzAAAAEBiVFJDAAABzAAAAEBkZXNjAAAAAAAAAANjMgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB0ZXh0AAAAAEZCAABYWVogAAAAAAAA9tYAAQAAAADTLVhZWiAAAAAAAAADFgAAAzMAAAKkWFlaIAAAAAAAAG+iAAA49QAAA5BYWVogAAAAAAAAYpkAALeFAAAY2lhZWiAAAAAAAAAkoAAAD4QAALbPY3VydgAAAAAAAAAaAAAAywHJA2MFkghrC/YQPxVRGzQh8SmQMhg7kkYFUXdd7WtwegWJsZp8rGm/fdPD6TD//1ZQOCBSAAAAUAMAnQEqHgAeAD7ZYKpOtiWooygKqsAbCWQAnTLfAiGYXfAA/uw/rDUG/ySry930W5TklUCdPGwZvhShkxmlA5XTMUKtCBVuol3YS6MrvY4AAA==&quot;);">
                          <div class="_1aryjwh">
                            <div class="_dmn8hc">
                              <h1 class="_16pg94n">
                                <div class="_goqbqk"><span class="_y9cbsa"
                                    style="--tl-color:#FFFFFF; --tl-font-size:32px; --tl-font-weight:600; --tl-line-height:36px;">투데이</span>
                                </div>
                              </h1>
                              <div class="_17ctt5">
                                <div class="_16re24r"><a href="https://www.airbnb.co.kr/hosting/notifications"
                                    class="_11eqlma4"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
                                      aria-hidden="true"  focusable="false"
                                      style="display: block; fill: none; height: 24px; width: 24px; stroke: rgb(255, 255, 255); stroke-width: 2.66667; overflow: visible;">
                                      <g fill="none">
                                        <path
                                          d="m6.83205 20.5547.16795-.2519v-.3028-7c0-4.97056 4.0294-9 9-9s9 4.02944 9 9v7 .3028l.1679.2519 2.6778 4.0166c.1006.1509.1543.3283.1543.5097 0 .5076-.4114.919-.919.919h-22.16202c-.50754 0-.91898-.4114-.91898-.919 0-.1814.0537-.3588.15434-.5097zm6.17885 5.8131c-.0043.0661-.0109.765-.0109.8322 0 1.6569 1.3431 3 3 3s3-1.3431 3-3c0-.0672-.0066-.7-.0109-.7661">
                                        </path>
                                        <path d="m16 1v3"></path>
                                      </g>
                                    </svg>
                                    <div class="_5ehxr"><span aria-label="알림, 읽지 않은 메시지 2개" class="_1fmem7r">2</span>
                                    </div>
                                  </a></div>
                              </div>
                            </div>
                            <div class="_1fb3n85">
                              <div class="c1yo0219 dir dir-ltr" style="">
                                <div data-plugin-in-point-id="REQUIRED_ACTION_CARD_4b93e600-4284-36ef-babb-c56834da9541"
                                  data-section-id="REQUIRED_ACTION_CARD_4b93e600-4284-36ef-babb-c56834da9541"
                                  style="display: contents;"><a
                                    href="https://www.airbnb.co.kr/verify-listing/653225492607634010" class="_8qfw26v">

                                  </a></div>
                              </div>
                              <div class="c1yo0219 dir dir-ltr" style="">
                                <div data-plugin-in-point-id="REQUIRED_ACTION_CARD_cd73c98c-22f1-3a91-a600-eb411ca58fef"
                                  data-section-id="REQUIRED_ACTION_CARD_cd73c98c-22f1-3a91-a600-eb411ca58fef"
                                  style="display: contents;"><a
                                    href="https://www.airbnb.co.kr/account-settings/payments/payout-methods"
                                    class="_8qfw26v">

                                  </a></div>
                              </div>
                            </div>
                          </div>
                        </div><span id="FMP-target"></span>
                      </div>
                    </div>
                  </div>
                  <div class="c1yo0219 dir dir-ltr" style="">
                    <div style="--gp-section-max-width:1120px;">
                      <div data-plugin-in-point-id="GUEST_CARDS_WIDE" data-section-id="GUEST_CARDS_WIDE"
                        style="padding-top: 64px; padding-bottom: 24px;">
                        <div class="_1aryjwh">
                          <div class="_6htn2u">
                            <div class="_60quu0">
                              <div class="_mrriojd">
                                <div class="_j155tn">
                                  <h2>
                                    <div class="_goqbqk"><span class="_y9cbsa"
                                        style="--tl-color:#222222; --tl-font-size:26px; --tl-font-weight:600; --tl-line-height:30px;">예약</span>
                                    </div>
                                  </h2>
                                </div>
                              </div>
                              <div>
                                <!-- 모든 예약 건수 출력 -->
                                <a target="_blank" href="https://www.airbnb.co.kr/hosting/reservations"
                                  class="_za4ekfm">모든 예약(0개)</a>
                                <!-- 모든 예약 건수 출력 -->
                                </div>
                            </div>
                            <div class=" dir dir-ltr" role="group" id="reservation-filter-group" aria-label="예약 필터"><span class="_o0kyxm"><button
                                  class="_1h0bjrrv" role="radio" aria-checked="true" type="button">
                                  <div class="_goqbqk">
                                    <!-- 체크아웃 예정 건수 출력 -->
                                    <span class="_y9cbsa"
                                      style="--tl-color:#222222;--tl-font-size:14px;--tl-font-weight:400;--tl-line-height:18px">체크아웃 예정(0건)</span>
                                      <!-- 체크아웃 예정 건수 출력 -->

                                  </div><span aria-hidden="true" class="_1vwho579">
                                    <div class="_goqbqk">
                                      <!-- 체크아웃 예정 건수 출력 -->
                                      <span class="_y9cbsa"
                                        style="--tl-color:#222222;--tl-font-size:14px;--tl-font-weight:400;--tl-line-height:18px">체크아웃 예정(0건)</span>
                                      <!-- 체크아웃 예정 건수 출력 -->
                                    </div>
                                  </span>
                                </button></span><span class="_o0kyxm"><button class="_1h0bjrrv" role="radio" aria-checked="true" type="button">
                                    <div class="_goqbqk">
                                      <!-- 현재 호스팅 중인 건수 출력 -->
                                      <span class="_y9cbsa"
                                        style="--tl-color:#222222;--tl-font-size:14px;--tl-font-weight:400;--tl-line-height:18px">현재
                                        호스팅&nbsp;중(0건)</span>
                                      <!-- 현재 호스팅 중인 건수 출력 -->
                                      </div><span aria-hidden="true" class="_1vwho579">
                                      <div class="_goqbqk">
                                        <!-- 현재 호스팅 중인 건수 출력 -->
                                        <span class="_y9cbsa"
                                          style="--tl-color:#222222;--tl-font-size:14px;--tl-font-weight:400;--tl-line-height:18px">현재
                                          호스팅&nbsp;중(0건)</span>
                                        <!-- 현재 호스팅 중인 건수 출력 -->
                                        </div>
                                    </span>
                                  </button></span><span class="_o0kyxm"><button class="_np90lm" role="radio" aria-checked="false" type="button">
                                  <div class="_goqbqk">
                                    <!-- 체크인 예정 건수 출력 -->
                                    <span class="_y9cbsa"
                                      style="--tl-color:#222222;--tl-font-size:14px;--tl-font-weight:400;--tl-line-height:18px">체크인 예정(0건)</span>
                                    <!-- 체크인 예정 건수 출력 -->
                                  </div><span aria-hidden="true" class="_1vwho579">
                                    <div class="_goqbqk">
                                      <!-- 체크인 예정 건수 출력 -->
                                      <span class="_y9cbsa"
                                        style="--tl-color:#222222;--tl-font-size:14px;--tl-font-weight:400;--tl-line-height:18px">체크인 예정(0건)</span>
                                      <!-- 체크인 예정 건수 출력 -->
                                      </div>
                                  </span>
                                </button></span><span class="_o0kyxm"><button class="_np90lm" role="radio" aria-checked="false" type="button">
                                  <div class="_goqbqk">
                                    <!-- 예정 건수 출력 -->
                                    <span class="_y9cbsa"
                                      style="--tl-color:#222222;--tl-font-size:14px;--tl-font-weight:400;--tl-line-height:18px">예정(0건)</span>
                                    <!-- 예정 건수 출력 -->
                                    </div>
                                  <span aria-hidden="true" class="_1vwho579">
                                    <div class="_goqbqk">
                                      <!-- 예정 건수 출력 -->
                                      <span class="_y9cbsa"
                                        style="--tl-color:#222222;--tl-font-size:14px;--tl-font-weight:400;--tl-line-height:18px">예정(0건)</span>
                                      <!-- 예정 건수 출력 -->
                                      </div>
                                  </span>
                                </button></span></div>
                            <div class="_e296pg">
                              <div class="_88dcy8g">
                                <div style="margin-top: 8px; margin-bottom: 8px;">
                                  <div class="_dmnee72"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="_1aaautd" style="background-color: rgb(247, 247, 247);">
                            <div class="_7e8is4">
                              <div class="_1d192un"><span class="_1hea4rk"><svg viewBox="0 0 32 32"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    focusable="false"
                                    style="display: block; height: 32px; width: 32px; fill: rgb(34, 34, 34);">
                                    <path
                                      d="m24.0001497 1c2.6882889.00069168 4.881043 2.1224181 4.9956073 4.78298655l.0047037.21687134.0007229 5.08862781-2 .0002841-.0007228-5.08837049c-.0006381-1.59771409-1.2497012-2.9036382-2.8243181-2.99526279l-.1762503-.00513652h-15.9998924c-1.59768088 0-2.90366088 1.24891996-2.99490731 2.82372721l-.00509269.17627279v19.9997571c.00038808 1.5977123 1.24926802 2.903807 2.82388326 2.9956217l.17625084.0051578 4.823918.000647-.0002682 2-4.82416099-.0006471c-2.68831483-.0010137-4.88080158-2.1230666-4.99495305-4.7836635l-.00466986-.216873v-20c0-2.6887547 2.12230671-4.88181811 4.78311038-4.99538049l.21688962-.00461951zm-2.0001497 12c4.9705627 0 9 4.0294373 9 9s-4.0294373 9-9 9-9-4.0294373-9-9 4.0294373-9 9-9zm0 2c-3.8659932 0-7 3.1340068-7 7s3.1340068 7 7 7 7-3.1340068 7-7-3.1340068-7-7-7zm3.0160589 3.1704628 1.3678822 1.4590744-6.0172744 5.6411948-3.3506078-3.1411948 1.3678822-1.4590744 1.9820589 1.8585372z">
                                    </path>
                                  </svg></span></div>
                              <div class="_goqbqk" style="--ehl-justify-content:center; --ehl-text-align:center;">
                                <!-- 체크아웃 게스트 여부에 따라 출력 -->
                                <span
                                  class="_y9cbsa"
                                  style="--tl-color:#222222; --tl-font-size:14px; --tl-font-weight:400; --tl-line-height:18px;">오늘과
                                  내일은 체크아웃하는 게스트가&nbsp;없습니다.</span>
                                <!-- 체크아웃 게스트 여부에 따라 출력 -->
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="c1yo0219 dir dir-ltr" style="">
                    <div style="--gp-section-max-width:1120px;">
                      <div data-plugin-in-point-id="NEWS_WIDE" data-section-id="NEWS_WIDE"
                        style="padding-top: 64px; padding-bottom: 48px; background-color: rgb(0, 0, 0); --gp-section-background-color:#000000;">
                        <div class="_k0545r">
                          <div>
                            <h2 class="_1hmgaz">호스팅 관련 팁과 업데이트</h2>
                          </div>
                          <div class="_6htn2u">
                            <div class="_88dcy8g">
                              <div style="margin-top: 8px; margin-bottom: 8px;">
                                <div class="_7ts20mk">
                                  <div class="_hcugk47">
                                    <div class="_1ilrlnv"><a target="_blank" aria-label="호스팅 대금을 수령하는 방법" href="https://www.airbnb.co.kr/resources/hosting-homes/a/how-you-get-paid-for-hosting-20" class="_iip8otb">
                                        <div class="_1gvv25g">
                                          <div>
                                            <div class="_v0gz4uz" role="img" aria-busy="false" aria-label="thumbnail card" style="--dls-liteimage-padding-top:75%;">
                                              <div class="_4626ulj">
                                                <picture>
                                                  <source srcset="https://a0.muscache.com/im/pictures/fff5a5e8-3ab3-4970-a5fc-c51e301a9acb.jpg?im_w=240 1x, https://a0.muscache.com/im/pictures/fff5a5e8-3ab3-4970-a5fc-c51e301a9acb.jpg?im_w=240 2x" media="(max-width: 743px)">
                                                  <source srcset="https://a0.muscache.com/im/pictures/fff5a5e8-3ab3-4970-a5fc-c51e301a9acb.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/fff5a5e8-3ab3-4970-a5fc-c51e301a9acb.jpg?im_w=720 2x" media="(min-width: 743.1px) and (max-width: 1127px)">
                                                  <source srcset="https://a0.muscache.com/im/pictures/fff5a5e8-3ab3-4970-a5fc-c51e301a9acb.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/fff5a5e8-3ab3-4970-a5fc-c51e301a9acb.jpg?im_w=480 2x" media="(min-width: 1127.1px) and (max-width: 1439px)">
                                                  <source srcset="https://a0.muscache.com/im/pictures/fff5a5e8-3ab3-4970-a5fc-c51e301a9acb.jpg?im_w=480 1x, https://a0.muscache.com/im/pictures/fff5a5e8-3ab3-4970-a5fc-c51e301a9acb.jpg?im_w=720 2x" media="(min-width: 1439.1px)"><img class="_1cb9q3xq" aria-hidden="true" alt="thumbnail card" elementtiming="LCP-target" src="./호스트 알림판 - Airbnb_files/fff5a5e8-3ab3-4970-a5fc-c51e301a9acb.jpg" data-original-uri="https://a0.muscache.com/pictures/fff5a5e8-3ab3-4970-a5fc-c51e301a9acb.jpg" style="object-fit: cover;">
                                                </picture>
                                                <div class="_10xjrv2u" style="background-image: url(&quot;https://a0.muscache.com/im/pictures/fff5a5e8-3ab3-4970-a5fc-c51e301a9acb.jpg?im_w=720&quot;); background-size: cover;">
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="_1tre5tn">
                                            <div class="_1hda0oi">호스팅 대금을 수령하는 방법</div>
                                          </div>
                                        </div>
                                      </a></div>
                                  </div>
                                  <div class="_hcugk47">
                                    <div class="_1ilrlnv"><a target="_blank" aria-label="호스팅을 진행하며 끊임없이 숙소 개선하기" href="/resources/hosting-homes/a/the-essentials-improve-your-airbnb-listing-as-you-go-43" class="_iip8otb">
                                        <div class="_1gvv25g">
                                          <div>
                                            <div class="_v0gz4uz" role="img" aria-busy="false" aria-label="thumbnail card" style="--dls-liteimage-padding-top:75%;">
                                              <div class="_4626ulj">
                                                <picture>
                                                  <source srcset="https://a0.muscache.com/im/pictures/8d17eb4c-ea0a-4701-af08-a2473d235657.jpg?im_w=240 1x, https://a0.muscache.com/im/pictures/8d17eb4c-ea0a-4701-af08-a2473d235657.jpg?im_w=240 2x" media="(max-width: 743px)">
                                                  <source srcset="https://a0.muscache.com/im/pictures/8d17eb4c-ea0a-4701-af08-a2473d235657.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/8d17eb4c-ea0a-4701-af08-a2473d235657.jpg?im_w=720 2x" media="(min-width: 743.1px) and (max-width: 1127px)">
                                                  <source srcset="https://a0.muscache.com/im/pictures/8d17eb4c-ea0a-4701-af08-a2473d235657.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/8d17eb4c-ea0a-4701-af08-a2473d235657.jpg?im_w=480 2x" media="(min-width: 1127.1px) and (max-width: 1439px)">
                                                  <source srcset="https://a0.muscache.com/im/pictures/8d17eb4c-ea0a-4701-af08-a2473d235657.jpg?im_w=480 1x, https://a0.muscache.com/im/pictures/8d17eb4c-ea0a-4701-af08-a2473d235657.jpg?im_w=720 2x" media="(min-width: 1439.1px)"><img class="_1cb9q3xq" aria-hidden="true" alt="thumbnail card" elementtiming="LCP-target" src="https://a0.muscache.com/im/pictures/8d17eb4c-ea0a-4701-af08-a2473d235657.jpg?im_w=720" data-original-uri="https://a0.muscache.com/pictures/8d17eb4c-ea0a-4701-af08-a2473d235657.jpg" style="object-fit: cover;">
                                                </picture>
                                                <div class="_10xjrv2u" style="background-image: url(&quot;https://a0.muscache.com/im/pictures/8d17eb4c-ea0a-4701-af08-a2473d235657.jpg?im_w=720&quot;); background-size: cover;">
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="_1tre5tn">
                                            <div class="_1hda0oi">호스팅을 진행하며 끊임없이 숙소 개선하기</div>
                                          </div>
                                        </div>
                                      </a></div>
                                  </div>
                                  <div class="_hcugk47">
                                    <div class="_1ilrlnv"><a target="_blank" aria-label="모든 게스트의 다양성을 포용하는 호스팅을 돕는 도구" href="https://www.airbnb.co.kr/resources/hosting-homes/g/how-to-be-an-even-more-inclusive-host-16" class="_iip8otb">
                                        <div class="_1gvv25g">
                                          <div>
                                            <div class="_v0gz4uz" role="img" aria-busy="false" aria-label="thumbnail card" style="--dls-liteimage-padding-top:75%;">
                                              <div class="_4626ulj">
                                                <picture>
                                                  <source srcset="https://a0.muscache.com/im/pictures/e6942f40-c3ad-4f23-9622-c54a36b32f04.jpg?im_w=240 1x, https://a0.muscache.com/im/pictures/e6942f40-c3ad-4f23-9622-c54a36b32f04.jpg?im_w=240 2x" media="(max-width: 743px)">
                                                  <source srcset="https://a0.muscache.com/im/pictures/e6942f40-c3ad-4f23-9622-c54a36b32f04.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/e6942f40-c3ad-4f23-9622-c54a36b32f04.jpg?im_w=720 2x" media="(min-width: 743.1px) and (max-width: 1127px)">
                                                  <source srcset="https://a0.muscache.com/im/pictures/e6942f40-c3ad-4f23-9622-c54a36b32f04.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/e6942f40-c3ad-4f23-9622-c54a36b32f04.jpg?im_w=480 2x" media="(min-width: 1127.1px) and (max-width: 1439px)">
                                                  <source srcset="https://a0.muscache.com/im/pictures/e6942f40-c3ad-4f23-9622-c54a36b32f04.jpg?im_w=480 1x, https://a0.muscache.com/im/pictures/e6942f40-c3ad-4f23-9622-c54a36b32f04.jpg?im_w=720 2x" media="(min-width: 1439.1px)"><img class="_1cb9q3xq" aria-hidden="true" alt="thumbnail card" elementtiming="LCP-target" src="./호스트 알림판 - Airbnb_files/e6942f40-c3ad-4f23-9622-c54a36b32f04.jpg" data-original-uri="https://a0.muscache.com/pictures/e6942f40-c3ad-4f23-9622-c54a36b32f04.jpg" style="object-fit: cover;">
                                                </picture>
                                                <div class="_10xjrv2u" style="background-image: url(&quot;https://a0.muscache.com/im/pictures/e6942f40-c3ad-4f23-9622-c54a36b32f04.jpg?im_w=720&quot;); background-size: cover;">
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="_1tre5tn">
                                            <div class="_1hda0oi">모든 게스트의 다양성을 포용하는 호스팅을 돕는 도구</div>
                                          </div>
                                        </div>
                                      </a></div>
                                  </div>
                                  <div class="_hcugk47">
                                    <div class="_1ilrlnv"><a target="_blank" aria-label="우크라이나 피란민에게는 아직 도움이 필요합니다" href="https://www.airbnb.co.kr/resources/hosting-homes/a/how-you-can-help-refugees-fleeing-ukraine-489" class="_iip8otb">
                                        <div class="_1gvv25g">
                                          <div>
                                            <div class="_v0gz4uz" role="img" aria-busy="false" aria-label="thumbnail card" style="--dls-liteimage-padding-top:75%;">
                                              <div class="_4626ulj">
                                                <picture>
                                                  <source srcset="https://a0.muscache.com/im/pictures/8d84b501-41e2-4f0a-b0d4-66d6bc2e9da0.jpg?im_w=240 1x, https://a0.muscache.com/im/pictures/8d84b501-41e2-4f0a-b0d4-66d6bc2e9da0.jpg?im_w=240 2x" media="(max-width: 743px)">
                                                  <source srcset="https://a0.muscache.com/im/pictures/8d84b501-41e2-4f0a-b0d4-66d6bc2e9da0.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/8d84b501-41e2-4f0a-b0d4-66d6bc2e9da0.jpg?im_w=720 2x" media="(min-width: 743.1px) and (max-width: 1127px)">
                                                  <source srcset="https://a0.muscache.com/im/pictures/8d84b501-41e2-4f0a-b0d4-66d6bc2e9da0.jpg?im_w=320 1x, https://a0.muscache.com/im/pictures/8d84b501-41e2-4f0a-b0d4-66d6bc2e9da0.jpg?im_w=480 2x" media="(min-width: 1127.1px) and (max-width: 1439px)">
                                                  <source srcset="https://a0.muscache.com/im/pictures/8d84b501-41e2-4f0a-b0d4-66d6bc2e9da0.jpg?im_w=480 1x, https://a0.muscache.com/im/pictures/8d84b501-41e2-4f0a-b0d4-66d6bc2e9da0.jpg?im_w=720 2x" media="(min-width: 1439.1px)"><img class="_1cb9q3xq" aria-hidden="true" alt="thumbnail card" elementtiming="LCP-target" src="./호스트 알림판 - Airbnb_files/8d84b501-41e2-4f0a-b0d4-66d6bc2e9da0.jpg" data-original-uri="https://a0.muscache.com/pictures/8d84b501-41e2-4f0a-b0d4-66d6bc2e9da0.jpg" style="object-fit: cover;">
                                                </picture>
                                                <div class="_10xjrv2u" style="background-image: url(&quot;https://a0.muscache.com/im/pictures/8d84b501-41e2-4f0a-b0d4-66d6bc2e9da0.jpg?im_w=720&quot;); background-size: cover;">
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="_1tre5tn">
                                            <div class="_1hda0oi">우크라이나 피란민에게는 아직 도움이 필요합니다</div>
                                          </div>
                                        </div>
                                      </a></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="c1yo0219 dir dir-ltr">
                    <div style="--gp-section-max-width:1120px;">
                      <div data-plugin-in-point-id="HRD_CONTAINER_SECTION" data-section-id="HRD_CONTAINER_SECTION">
                      </div>
                    </div>
                  </div>
                </div>
                <!--footer-->
                <div th:replace="fragment/footer :: footer"></div>
                <!--footer-->
              </main>
            </div>
          </div>
        </div>
        <div class="_b21f4g">
          <div aria-live="polite" aria-atomic="true"></div>
          <div aria-live="assertive" aria-atomic="true"></div>
        </div>
      </div>
    </div>
  </div>
  <style>
    #fb_xdm_frame_https {
      visibility: hidden
    }
  </style>
  <div id="fb-root"></div>
  <div id="authModals"></div> ㅇ
</body>
</html>
<script src="/lib/js/host_nav.js"></script>