<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      data-is-hyperloop="true" data-hyperloop-version="1" dir="ltr">

<head>
    <meta charSet="utf-8" />
    <link rel="stylesheet" href="/lib/css/host_insite4.css">
    <link rel="stylesheet" href="/lib/css/host_nav.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://a0.muscache.com/airbnb/static/packages/dls/dls-lite_cereal-32f4a55b7a0ed9ca55714ba7265a6c84.css"
        rel="stylesheet" type="text/css" media="all" crossorigin="anonymous" />
    <title>에어비앤비: 휴가용 임대 숙소, 통나무집, 비치 하우스, 독특한 숙소 및 체험</title>
</head>

<body class="with-new-header">
    <div id="site-skip-links"><a class="screen-reader-only screen-reader-only-focusable skip-to-content"
            data-hook="skip-to-content" href="#site-content">콘텐츠로 바로가기</a><span id="popups-everywhere-skip-link"></span>
    </div>
    <div id="smart-banner"></div>
    <div id="flash-container" class="flash-container" role="alert" aria-live="assertive"></div>
    <div id="education-overlay-root"></div>
    <div data-application="true">
        <div dir="ltr">
            <div data-theme="" class="t1bgcr6e ">
                <div>
                    <div>
                        <div class=" dir dir-ltr" style="--vh:1vh">
                            <!--host_header-->
                            <div th:replace="fragment/host_header :: host_header"></div>
                            <!--host_header-->
                            <main class=" dir dir-ltr" data-testid="site-content" id="site-content">
                                <div class="_1hsn6c7" data-testid="host-performance-app-without-left-nav">
                                    <div class="_1ar69r3">
                                        <section>
                                            <div class="_ax0hgc"><span class="a8jt5op dir dir-ltr">
                                                    <h1 tabindex="-1" class="_14i3z6h" elementtiming="LCP-target">인사이트
                                                    </h1>
                                                </span>
                                                <div class="_8xzc87" aria-hidden="true">
                                                    <h1 tabindex="-1" class="_14i3z6h" elementtiming="LCP-target">인사이트
                                                    </h1>
                                                </div>
                                                <div id="opportunity-hub-navigation">
                                                    <div class="_e296pg">
                                                        <div class="_1xkr92p" data-testid="tab-list-wrapper">
                                                            <div class="_qc3ank" role="tablist"><button type="button"
                                                                    id="tab--opportunity-hub-navigation--0"
                                                                    aria-controls="panel--opportunity-hub-navigation--0"
                                                                    aria-selected="false" class="_tns11i" role="tab"
                                                                                                        onclick="location.href='/pages/host_insite1'"
                                                                    tabindex="-1">발전 기회</button><button type="button"
                                                                    id="tab--opportunity-hub-navigation--1"
                                                                    aria-controls="panel--opportunity-hub-navigation--1"
                                                                    aria-selected="false" class="_tns11i" role="tab"
                                                                                                        onclick="location.href='/pages/host_insite2'"
                                                                    tabindex="-1">후기</button><button type="button"

                                                                    id="tab--opportunity-hub-navigation--2"
                                                                    aria-controls="panel--opportunity-hub-navigation--2"
                                                                    aria-selected="false" class="_tns11i" role="tab"
                                                                                                     onclick="location.href='/pages/host_insite3'"
                                                                    tabindex="-1">수입</button><button type="button"
                                                                    id="tab--opportunity-hub-navigation--3"
                                                                    aria-controls="panel--opportunity-hub-navigation--3"
                                                                    aria-selected="true" class="_fd0fliz"
                                                                                                     onclick="location.href='/pages/host_insite4'"
                                                                    role="tab">조회수</button><button type="button"
                                                                    id="tab--opportunity-hub-navigation--4"
                                                                    aria-controls="panel--opportunity-hub-navigation--4"
                                                                    aria-selected="false" class="_tns11i" role="tab"
                                                                    tabindex="-1">슈퍼호스트</button><button type="button"
                                                                    id="tab--opportunity-hub-navigation--5"
                                                                    aria-controls="panel--opportunity-hub-navigation--5"
                                                                    aria-selected="false" class="_tns11i" role="tab"
                                                                                                        onclick="location.href='/pages/host_insite6'"
                                                                    tabindex="-1">청소</button></div>
                                                        </div>
                                                        <div class="_1wadwfl"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <section><span class="a8jt5op dir dir-ltr">
                                                    <h2 tabindex="-1" class="_14i3z6h" elementtiming="LCP-target">조회수
                                                    </h2>
                                                </span>
                                                <div class="_ax0hgc">
                                                    <div style="margin-top: 48px; margin-bottom: 48px;">
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="_1dam09s0" style="margin-left: 64px;">
                                                                    <div>
                                                                        <!--30일간 조회수 출력-->
                                                                        <div class="_1o5rcccm">0</div>
                                                                        <!--30일간 조회수 출력-->
                                                                        <span
                                                                            class="_czm8crp"><span class="_1lh2j2r">지난
                                                                                30일간 조회 수</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="_36rlri" id="FMP-target"
                                                                    style="margin-left: 64px;">
                                                                    <div>
                                                                        <!--30일간 새예약 출력-->
                                                                        <div class="_1o5rcccm">0</div>
                                                                        <!--30일간 새예약 출력-->
                                                                        <span
                                                                            class="_czm8crp"><span class="_1lh2j2r">지난
                                                                                30일간 받은 새 예약</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="_36rlri" style="margin-left: 64px;">
                                                                    <div>
                                                                        <!--예약률 출력-->
                                                                        <div class="_1o5rcccm">0%</div>
                                                                        <!--예약률 출력-->
                                                                        <span
                                                                            class="_czm8crp"><span
                                                                                class="_1lh2j2r">예약률</span>
                                                                            <div class="_1c2cbn7k">
                                                                                <div class="_jx9fdbv">
                                                                                    <div><button aria-expanded="false"
                                                                                            aria-label="더 보기"
                                                                                            type="button"
                                                                                            class="_1rbxx89"><span
                                                                                                class="_3hmsj"><svg
                                                                                                    viewBox="0 0 24 24"

                                                                                                    aria-hidden="true"
                                                                                                    focusable="false"
                                                                                                    style="height: 20px; width: 20px; display: block; fill: rgb(72, 72, 72);">
                                                                                                    <path
                                                                                                        d="m12 0c-6.63 0-12 5.37-12 12s5.37 12 12 12 12-5.37 12-12-5.37-12-12-12zm0 23c-6.07 0-11-4.92-11-11s4.93-11 11-11 11 4.93 11 11-4.93 11-11 11zm4.75-14c0 1.8-.82 2.93-2.35 3.89-.23.14-1 .59-1.14.67-.4.25-.51.38-.51.44v2a .75.75 0 0 1 -1.5 0v-2c0-.74.42-1.22 1.22-1.72.17-.11.94-.55 1.14-.67 1.13-.71 1.64-1.41 1.64-2.61a3.25 3.25 0 0 0 -6.5 0 .75.75 0 0 1 -1.5 0 4.75 4.75 0 0 1 9.5 0zm-3.75 10a1 1 0 1 1 -2 0 1 1 0 0 1 2 0z"
                                                                                                        fill-rule="evenodd">
                                                                                                    </path>
                                                                                                </svg></span></button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div style="margin-top: 16px; display: block;"><button
                                                                type="button" class="_1e5q4qoz">피드백 보내기</button></div>
                                                    </div>
                                                </div>
                                            </section>
                                        </section>
                                    </div>
                                    <!--footer-->
                                    <div th:replace="fragment/footer :: footer"></div>
                                    <!--footer-->
                                </div>
                            </main>
                        </div>
                    </div>
                </div>
                <div class="_b21f4g">
                    <div aria-live="polite" aria-atomic="true"></div>
                    <div aria-live="assertive" aria-atomic="true"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
    <div id="authModals"></div>
    <!--피드백 팝업-->
    <div th:replace="fragment/feedback :: feedback"></div>
    <!--피드백 팝업-->
</body>
<script src="/lib/js/host_nav.js"></script>
</html>