.ldornx1[class][class]{position:absolute;top:0;bottom:0;}.dir-ltr.ldornx1[class][class]{left:0;right:0;}.dir-rtl.ldornx1[class][class]{right:0;left:0;}
.h1a2w4o2[class][class]{visibility:hidden;}
.dir.atm_3f_glywfm{border:none;} .dir.atm_3f_glywfm{border:none;}
.dir.atm_26_18pqv07{background:var(--f-k-smk-x);} .dir.atm_26_18pqv07{background:var(--f-k-smk-x);}
.atm_7l_1hbpp16{color:var(--f-mkcy-f);} .atm_7l_1hbpp16{color:var(--f-mkcy-f);}
@media (hover:hover){@media (hover:hover){.dir.atm_s7wuve_glywfm.atm_s7wuve_glywfm:hover{border:none;}} .dir.atm_s7wuve_glywfm.atm_s7wuve_glywfm:hover{border:none;}}
@media (hover:hover){@media (hover:hover){.dir.atm_wolyye_1otlplk.atm_wolyye_1otlplk:hover{background:var(--bgxgx);}} .dir.atm_wolyye_1otlplk.atm_wolyye_1otlplk:hover{background:var(--bgxgx);}}
@media (hover:hover){@media (hover:hover){.atm_1i1170i_1hbpp16.atm_1i1170i_1hbpp16:hover{color:var(--f-mkcy-f);}} .atm_1i1170i_1hbpp16.atm_1i1170i_1hbpp16:hover{color:var(--f-mkcy-f);}}
.dir.atm_1j4gqi5_glywfm:active{border:none;} .dir.atm_1j4gqi5_glywfm:active{border:none;}
.dir.atm_1kevezh_1otlplk:active{background:var(--bgxgx);} .dir.atm_1kevezh_1otlplk:active{background:var(--bgxgx);}
.atm_16scgop_1hbpp16:active{color:var(--f-mkcy-f);} .atm_16scgop_1hbpp16:active{color:var(--f-mkcy-f);}
.dir.atm_1f0kgtv_glywfm:disabled{border:none;} .dir.atm_1f0kgtv_glywfm:disabled{border:none;}
.dir.atm_oln6rx_161hw1:disabled{background:var(--j-qkgmf);} .dir.atm_oln6rx_161hw1:disabled{background:var(--j-qkgmf);}
.atm_1yfe54e_1hbpp16:disabled{color:var(--f-mkcy-f);} .atm_1yfe54e_1hbpp16:disabled{color:var(--f-mkcy-f);}
.dir.rcem0st[class][class]{padding-top:24px;padding-bottom:24px;border-radius:1px;}
.dir.cngiwj8[class][class]{padding-top:16px;padding-bottom:16px;}
.dir.uyl8mnh[class][class]{padding-top:8px;padding-bottom:8px;}
.dir.u6fux4d[class][class]{padding-top:0;padding-bottom:0;}
.dir.d750e13[class][class]{cursor:not-allowed;}
.a8jt5op[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}.dir.a8jt5op[class][class]{border:0;padding:0;}
