.dprtsy3[class][class]{display:none;}
html.scrollbar-gutter[class][class]{-webkit-scrollbar-gutter:stable;-moz-scrollbar-gutter:stable;-ms-scrollbar-gutter:stable;scrollbar-gutter:stable;}
.m12aegvk[class][class]{-webkit-overflow-scrolling:touch;max-height:100%;overflow:auto;}
