<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      data-is-hyperloop="true" data-hyperloop-version="1" dir="ltr">

<head>
    <meta charSet="utf-8" />
    <link href="https://a0.muscache.com/airbnb/static/packages/dls/dls-lite_cereal-32f4a55b7a0ed9ca55714ba7265a6c84.css"
        rel="stylesheet" type="text/css" media="all" crossorigin="anonymous" />
    <title>에어비앤비: 휴가용 임대 숙소, 통나무집, 비치 하우스, 독특한 숙소 및 체험</title>
    <link rel="stylesheet" href="/lib/css/host_insite1.css"></link>
    <link rel="stylesheet" href="/lib/css/host_nav.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body class="with-new-header">
    <div id="site-skip-links"><a class="screen-reader-only screen-reader-only-focusable skip-to-content"
            data-hook="skip-to-content" href="#site-content">콘텐츠로 바로가기</a><span id="popups-everywhere-skip-link"></span>
    </div>
    <div id="smart-banner"></div>
    <div id="flash-container" class="flash-container" role="alert" aria-live="assertive"></div>
    <div id="education-overlay-root"></div>
    <div data-application="true">
        <div dir="ltr">
            <div data-theme="" class="t1bgcr6e ">
                <div>
                    <div>
                        <div class=" dir dir-ltr" style="--vh:1vh">
                            <!--host_header-->
                            <div th:replace="fragment/host_header :: host_header"></div>
                            <!--host_header-->
                            <main class=" dir dir-ltr" data-testid="site-content" id="site-content">
                                <div class="_1hsn6c7" data-testid="host-performance-app-without-left-nav">
                                    <div id="FMP-target">
                                        <div class="_1ar69r3">
                                            <section>
                                                <div class="_ax0hgc"><span class="a8jt5op dir dir-ltr">
                                                        <h1 tabindex="-1" class="_14i3z6h" elementtiming="LCP-target">
                                                            인사이트</h1>
                                                    </span>
                                                    <div class="_8xzc87" aria-hidden="true">
                                                        <h1 tabindex="-1" class="_14i3z6h" elementtiming="LCP-target">
                                                            인사이트</h1>
                                                    </div>
                                                    <div id="opportunity-hub-navigation">
                                                        <div class="_e296pg">
                                                            <div class="_1xkr92p" data-testid="tab-list-wrapper">
                                                                <div class="_qc3ank" role="tablist"><button
                                                                        type="button"
                                                                        id="tab--opportunity-hub-navigation--0"
                                                                        aria-controls="panel--opportunity-hub-navigation--0"
                                                                        aria-selected="true" class="_fd0fliz"
                                                                        onclick="location.href='/pages/host_insite1'"
                                                                        role="tab">발전 기회</button><button type="button"
                                                                        id="tab--opportunity-hub-navigation--1"
                                                                        aria-controls="panel--opportunity-hub-navigation--1"
                                                                        aria-selected="false" class="_tns11i" role="tab"
                                                                        onclick="location.href='/pages/host_insite2'"
                                                                        tabindex="-1">후기</button><button type="button"
                                                                        id="tab--opportunity-hub-navigation--2"
                                                                        aria-controls="panel--opportunity-hub-navigation--2"
                                                                        aria-selected="false" class="_tns11i" role="tab"
                                                                        onclick="location.href='/pages/host_insite3'"
                                                                        tabindex="-1">수입</button><button type="button"
                                                                        id="tab--opportunity-hub-navigation--3"
                                                                        aria-controls="panel--opportunity-hub-navigation--3"
                                                                        aria-selected="false" class="_tns11i" role="tab"
                                                                        onclick="location.href='/pages/host_insite4'"
                                                                        tabindex="-1">조회수</button><button type="button"
                                                                        id="tab--opportunity-hub-navigation--4"
                                                                        aria-controls="panel--opportunity-hub-navigation--4"
                                                                        aria-selected="false" class="_tns11i" role="tab"
                                                                        tabindex="-1">슈퍼호스트</button><button
                                                                        type="button"
                                                                        id="tab--opportunity-hub-navigation--5"
                                                                        aria-controls="panel--opportunity-hub-navigation--5"
                                                                        aria-selected="false" class="_tns11i" role="tab"
                                                                        onclick="location.href='/pages/host_insite6'"
                                                                        tabindex="-1">청소</button></div>
                                                            </div>
                                                            <div class="_1wadwfl"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <section><span class="a8jt5op dir dir-ltr">
                                                        <h2 tabindex="-1" class="_14i3z6h" elementtiming="LCP-target">발전
                                                            기회</h2>
                                                    </span>
                                                    <div class="_ax0hgc">
                                                        
                                                        <div class="_1dwbj5u">
                                                            <div>
                                                                <div data-testid="rc-article-section">
                                                                    <div class="_au6sny">
                                                                        <h3 tabindex="-1" class="_14i3z6h"
                                                                            elementtiming="LCP-target">호스팅에 도움이 되는 자료
                                                                        </h3>
                                                                    </div>
                                                                    <div class="_88xxct">
                                                                        <div class="_19mplim">
                                                                            <div class="_7v384n"><a
                                                                                    rel="noopener noreferrer"
                                                                                    target="_blank"
                                                                                    href="https://www.airbnb.com/resources/hosting-homes/a/why-its-smart-to-offer-flexible-cancellations-right-now-162?traffic_source=opportunity_hub"
                                                                                    class="_131n1yh">
                                                                                    <div class="_1tp1o9s"><span
                                                                                            class="_5a8dj0">
                                                                                            <div class="_1h6n1zu"
                                                                                                style="display:inline-block;vertical-align:bottom;height:100%;width:100%;min-height:1px">
                                                                                                <img class="_9ofhsl"
                                                                                                    style="object-fit:cover;vertical-align:bottom"
                                                                                                    aria-hidden="true"
                                                                                                    alt=""
                                                                                                    elementtiming="LCP-target"
                                                                                                    src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt9eb218e60cd5c4fd/5e79062cfb0b8254963c835c/2UV4082WB2K9.jpg?crop=65p,100p,x31p,y0&amp;width=144&amp;height=144&amp;auto=webp"
                                                                                                    data-original-uri="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt9eb218e60cd5c4fd/5e79062cfb0b8254963c835c/2UV4082WB2K9.jpg?crop=65p,100p,x31p,y0&amp;width=144&amp;height=144&amp;auto=webp" />
                                                                                                <div class="_15p4g025"
                                                                                                    style="background-image:url(https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt9eb218e60cd5c4fd/5e79062cfb0b8254963c835c/2UV4082WB2K9.jpg?crop=65p,100p,x31p,y0&amp;width=144&amp;height=144&amp;auto=webp);background-size:cover">
                                                                                                </div>
                                                                                            </div>
                                                                                        </span>
                                                                                        <div class="_1so8oxv">
                                                                                            <div class="_yfw5kco">요즘 같은
                                                                                                시기, 유연한 환불 정책을 제공하는 것이
                                                                                                현명한 이유</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </a></div>
                                                                            <div class="_7v384n"><a
                                                                                    rel="noopener noreferrer"
                                                                                    target="_blank"
                                                                                    href="https://www.airbnb.com/resources/hosting-homes/a/getting-started-with-airbnbs-cleaning-protocol-186?traffic_source=opportunity_hub"
                                                                                    class="_131n1yh">
                                                                                    <div class="_1tp1o9s"><span
                                                                                            class="_5a8dj0">
                                                                                            <div class="_1h6n1zu"
                                                                                                style="display:inline-block;vertical-align:bottom;height:100%;width:100%;min-height:1px">
                                                                                                <img class="_9ofhsl"
                                                                                                    style="object-fit:cover;vertical-align:bottom"
                                                                                                    aria-hidden="true"
                                                                                                    alt=""
                                                                                                    elementtiming="LCP-target"
                                                                                                    src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt320dff26e67b0d77/5ebc656870d3551b3c6637b3/color_SUB01_prepare_1920x1080.jpg?crop=56.31p,100p,x22.98p,y0&amp;width=144&amp;height=144&amp;auto=webp"
                                                                                                    data-original-uri="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt320dff26e67b0d77/5ebc656870d3551b3c6637b3/color_SUB01_prepare_1920x1080.jpg?crop=56.31p,100p,x22.98p,y0&amp;width=144&amp;height=144&amp;auto=webp" />
                                                                                                <div class="_15p4g025"
                                                                                                    style="background-image:url(https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt320dff26e67b0d77/5ebc656870d3551b3c6637b3/color_SUB01_prepare_1920x1080.jpg?crop=56.31p,100p,x22.98p,y0&amp;width=144&amp;height=144&amp;auto=webp);background-size:cover">
                                                                                                </div>
                                                                                            </div>
                                                                                        </span>
                                                                                        <div class="_1so8oxv">
                                                                                            <div class="_yfw5kco">에어비앤비
                                                                                                청결 강화 기준 준수를 시작해보세요
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </a></div>
                                                                            <div class="_7v384n"><a
                                                                                    rel="noopener noreferrer"
                                                                                    target="_blank"
                                                                                    href="https://www.airbnb.com/resources/hosting-homes/a/the-dos-and-donts-of-providing-self-check-in-238?traffic_source=opportunity_hub"
                                                                                    class="_131n1yh">
                                                                                    <div class="_1tp1o9s"><span
                                                                                            class="_5a8dj0">
                                                                                            <div class="_1h6n1zu"
                                                                                                style="display:inline-block;vertical-align:bottom;height:100%;width:100%;min-height:1px">
                                                                                                <img class="_9ofhsl"
                                                                                                    style="object-fit:cover;vertical-align:bottom"
                                                                                                    aria-hidden="true"
                                                                                                    alt=""
                                                                                                    elementtiming="LCP-target"
                                                                                                    src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt9dbecfa9bdb7d4a2/5f0774165d2aac609a336bf7/2UV9LO7P97QP.jpg?crop=100p,66.66p,x0,y33.33p&amp;width=144&amp;height=144&amp;auto=webp"
                                                                                                    data-original-uri="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt9dbecfa9bdb7d4a2/5f0774165d2aac609a336bf7/2UV9LO7P97QP.jpg?crop=100p,66.66p,x0,y33.33p&amp;width=144&amp;height=144&amp;auto=webp" />
                                                                                                <div class="_15p4g025"
                                                                                                    style="background-image:url(https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt9dbecfa9bdb7d4a2/5f0774165d2aac609a336bf7/2UV9LO7P97QP.jpg?crop=100p,66.66p,x0,y33.33p&amp;width=144&amp;height=144&amp;auto=webp);background-size:cover">
                                                                                                </div>
                                                                                            </div>
                                                                                        </span>
                                                                                        <div class="_1so8oxv">
                                                                                            <div class="_yfw5kco">셀프 체크인
                                                                                                제공 시 해야 할 것과 하지 말아야 할 것
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </a></div>
                                                                            <div class="_7v384n"><a
                                                                                    rel="noopener noreferrer"
                                                                                    target="_blank"
                                                                                    href="https://www.airbnb.com/resources/hosting-homes/a/what-you-need-to-know-about-hosting-families-and-pets-237?traffic_source=opportunity_hub"
                                                                                    class="_131n1yh">
                                                                                    <div class="_1tp1o9s"><span
                                                                                            class="_5a8dj0">
                                                                                            <div class="_1h6n1zu"
                                                                                                style="display:inline-block;vertical-align:bottom;height:100%;width:100%;min-height:1px">
                                                                                                <img class="_9ofhsl"
                                                                                                    style="object-fit:cover;vertical-align:bottom"
                                                                                                    aria-hidden="true"
                                                                                                    alt=""
                                                                                                    elementtiming="LCP-target"
                                                                                                    src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt80cc33ff9a705fc5/5f07739a2c573e7f04e7cc1a/2UV408PJAI5MH.jpg?crop=66.66p,100p,x23.5p,y0&amp;width=144&amp;height=144&amp;auto=webp"
                                                                                                    data-original-uri="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt80cc33ff9a705fc5/5f07739a2c573e7f04e7cc1a/2UV408PJAI5MH.jpg?crop=66.66p,100p,x23.5p,y0&amp;width=144&amp;height=144&amp;auto=webp" />
                                                                                                <div class="_15p4g025"
                                                                                                    style="background-image:url(https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt80cc33ff9a705fc5/5f07739a2c573e7f04e7cc1a/2UV408PJAI5MH.jpg?crop=66.66p,100p,x23.5p,y0&amp;width=144&amp;height=144&amp;auto=webp);background-size:cover">
                                                                                                </div>
                                                                                            </div>
                                                                                        </span>
                                                                                        <div class="_1so8oxv">
                                                                                            <div class="_yfw5kco">가족 단위
                                                                                                여행객 및 반려동물 동반 여행객 호스팅 시
                                                                                                알아두어야 할 사항</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </a></div>
                                                                            <div class="_7v384n"><a
                                                                                    rel="noopener noreferrer"
                                                                                    target="_blank"
                                                                                    href="https://www.airbnb.com/resources/hosting-homes/a/how-to-make-your-space-comfortable-for-remote-workers-236?traffic_source=opportunity_hub"
                                                                                    class="_131n1yh">
                                                                                    <div class="_1tp1o9s"><span
                                                                                            class="_5a8dj0">
                                                                                            <div class="_1h6n1zu"
                                                                                                style="display:inline-block;vertical-align:bottom;height:100%;width:100%;min-height:1px">
                                                                                                <img class="_9ofhsl"
                                                                                                    style="object-fit:cover;vertical-align:bottom"
                                                                                                    aria-hidden="true"
                                                                                                    alt=""
                                                                                                    elementtiming="LCP-target"
                                                                                                    src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt51bf8d36a542f03d/5f0772f755c7a40486617c60/2UV408P43D5YC.jpg?crop=66.66p,100p,x21.92p,y0&amp;width=144&amp;height=144&amp;auto=webp"
                                                                                                    data-original-uri="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt51bf8d36a542f03d/5f0772f755c7a40486617c60/2UV408P43D5YC.jpg?crop=66.66p,100p,x21.92p,y0&amp;width=144&amp;height=144&amp;auto=webp" />
                                                                                                <div class="_15p4g025"
                                                                                                    style="background-image:url(https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt51bf8d36a542f03d/5f0772f755c7a40486617c60/2UV408P43D5YC.jpg?crop=66.66p,100p,x21.92p,y0&amp;width=144&amp;height=144&amp;auto=webp);background-size:cover">
                                                                                                </div>
                                                                                            </div>
                                                                                        </span>
                                                                                        <div class="_1so8oxv">
                                                                                            <div class="_yfw5kco">출장자를
                                                                                                위한 편안한 숙소 준비 방법</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </a></div>
                                                                            <div class="_7v384n"><a
                                                                                    rel="noopener noreferrer"
                                                                                    target="_blank"
                                                                                    href="https://www.airbnb.com/resources/hosting-homes/a/the-best-amenities-to-offer-right-now-203?traffic_source=opportunity_hub"
                                                                                    class="_131n1yh">
                                                                                    <div class="_1tp1o9s"><span
                                                                                            class="_5a8dj0">
                                                                                            <div class="_1h6n1zu"
                                                                                                style="display:inline-block;vertical-align:bottom;height:100%;width:100%;min-height:1px">
                                                                                                <img class="_9ofhsl"
                                                                                                    style="object-fit:cover;vertical-align:bottom"
                                                                                                    aria-hidden="true"
                                                                                                    alt=""
                                                                                                    elementtiming="LCP-target"
                                                                                                    src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt3b9034773f581845/5ee790ce3ed6ab53e03a290e/2UV408L92Z3WU.jpg?crop=66.66p,100p,x33.33p,y0&amp;width=144&amp;height=144&amp;auto=webp"
                                                                                                    data-original-uri="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt3b9034773f581845/5ee790ce3ed6ab53e03a290e/2UV408L92Z3WU.jpg?crop=66.66p,100p,x33.33p,y0&amp;width=144&amp;height=144&amp;auto=webp" />
                                                                                                <div class="_15p4g025"
                                                                                                    style="background-image:url(https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt3b9034773f581845/5ee790ce3ed6ab53e03a290e/2UV408L92Z3WU.jpg?crop=66.66p,100p,x33.33p,y0&amp;width=144&amp;height=144&amp;auto=webp);background-size:cover">
                                                                                                </div>
                                                                                            </div>
                                                                                        </span>
                                                                                        <div class="_1so8oxv">
                                                                                            <div class="_yfw5kco">현재
                                                                                                게스트가 가장 선호하는 편의시설</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </section>
                                        </div>
                                    </div>
                                    <!--footer-->
                                    <div th:replace="fragment/footer :: footer"></div>
                                    <!--footer-->
                                </div>
                            </main>
                        </div>
                    </div>
                </div>
                <div class="_b21f4g">
                    <div aria-live="polite" aria-atomic="true"></div>
                    <div aria-live="assertive" aria-atomic="true"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
    <div id="authModals"></div>

</body>

</html>
<script src="/lib/js/host_nav.js"></script>