<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      data-is-hyperloop="true" data-hyperloop-version="1" dir="ltr">

<head>
    <meta charSet="utf-8" />
    <link href="https://a0.muscache.com/airbnb/static/packages/dls/dls-lite_cereal-32f4a55b7a0ed9ca55714ba7265a6c84.css"
        rel="stylesheet" type="text/css" media="all" crossorigin="anonymous" />
    <title>에어비앤비: 휴가용 임대 숙소, 통나무집, 비치 하우스, 독특한 숙소 및 체험</title>
    <link rel="stylesheet" href="/lib/css/host_insite3.css">
    <link rel="stylesheet" href="/lib/css/host_nav.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body class="with-new-header">
    <div id="site-skip-links"><a class="screen-reader-only screen-reader-only-focusable skip-to-content"
            data-hook="skip-to-content" href="#site-content">콘텐츠로 바로가기</a><span id="popups-everywhere-skip-link"></span>
    </div>
    <div id="smart-banner"></div><noscript>
        <div class="alert alert-with-icon alert-error no-js-alert" data-nosnippet="true"><i
                class="icon alert-icon icon-alert-alt"></i>죄송합니다. 에어비앤비 웹사이트의 일부는 자바스크립트가 활성화되어 있지 않으면 제대로 작동하지 않습니다.
        </div>
    </noscript>
    <div id="flash-container" class="flash-container" role="alert" aria-live="assertive"></div>
    <div id="education-overlay-root"></div>
    <style data-aphrodite="true">
        
    </style>
    <div data-application="true">
        <div dir="ltr">
            <div data-theme="" class="t1bgcr6e ">
                <div>
                    <div>
                        <div class=" dir dir-ltr" style="--vh:1vh">
                            <!--host_header-->
                            <div th:replace="fragment/host_header :: host_header"></div>
                            <!--host_header-->
                            <main class=" dir dir-ltr" data-testid="site-content" id="site-content">
                                <div class="_1hsn6c7" data-testid="host-performance-app-without-left-nav">
                                    <div>
                                        <div class="_1ar69r3">
                                            <section>
                                                <div class="_ax0hgc"><span class="a8jt5op dir dir-ltr">
                                                        <h1 tabindex="-1" class="_14i3z6h" elementtiming="LCP-target">
                                                            인사이트</h1>
                                                    </span>
                                                    <div class="_8xzc87" aria-hidden="true">
                                                        <h1 tabindex="-1" class="_14i3z6h" elementtiming="LCP-target">
                                                            인사이트</h1>
                                                    </div>
                                                    <div id="opportunity-hub-navigation">
                                                        <div class="_e296pg">
                                                            <div class="_1xkr92p" data-testid="tab-list-wrapper">
                                                                <div class="_qc3ank" role="tablist"><button
                                                                        type="button"
                                                                        id="tab--opportunity-hub-navigation--0"
                                                                        aria-controls="panel--opportunity-hub-navigation--0"
                                                                        aria-selected="false" class="_tns11i" role="tab"
                                                                        onclick="location.href='/pages/host_insite1'"
                                                                        tabindex="-1">발전 기회</button><button
                                                                        type="button"
                                                                        id="tab--opportunity-hub-navigation--1"
                                                                        aria-controls="panel--opportunity-hub-navigation--1"
                                                                        aria-selected="false" class="_tns11i" role="tab"
                                                                        tabindex="-1">후기</button><button type="button"
                                                                        id="tab--opportunity-hub-navigation--2"
                                                                        aria-controls="panel--opportunity-hub-navigation--2"
                                                                        aria-selected="true" class="_fd0fliz"
                                                                                                         onclick="location.href='/pages/host_insite3'"
                                                                        role="tab">수입</button><button type="button"
                                                                        id="tab--opportunity-hub-navigation--3"
                                                                        aria-controls="panel--opportunity-hub-navigation--3"
                                                                        aria-selected="false" class="_tns11i" role="tab"
                                                                                                      onclick="location.href='/pages/host_insite4'"
                                                                        tabindex="-1">조회수</button><button type="button"
                                                                        id="tab--opportunity-hub-navigation--4"
                                                                        aria-controls="panel--opportunity-hub-navigation--4"
                                                                        aria-selected="false" class="_tns11i" role="tab"
                                                                        tabindex="-1">슈퍼호스트</button><button
                                                                        type="button"
                                                                        id="tab--opportunity-hub-navigation--5"
                                                                        aria-controls="panel--opportunity-hub-navigation--5"
                                                                        aria-selected="false" class="_tns11i" role="tab"
                                                                        onclick="location.href='/pages/host_insite6'"
                                                                        tabindex="-1">청소</button></div>
                                                            </div>
                                                            <div class="_1wadwfl"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <section><span class="a8jt5op dir dir-ltr">
                                                        <h2 tabindex="-1" class="_14i3z6h" elementtiming="LCP-target">수입
                                                        </h2>
                                                    </span>
                                                    <div class="_ax0hgc">
                                                        <div style="margin-top:48px;margin-bottom:80px">
                                                            <div class="_2h22gn">
                                                                <div class="_17mlmq72">
                                                                    <div style="margin-bottom:48px">
                                                                        <div class="_9hxttoo">
                                                                            <div style="margin-bottom:8px"><label
                                                                                    class="_rin72m" for="monthSelector">
                                                                                    <div class="_1p3joamp">월 선택</div>
                                                                                </label></div>
                                                                            <div class="_wlf6154">
                                                                                <div class="_y9ev9r"><select
                                                                                        id="monthSelector"
                                                                                        name="selected_month"
                                                                                        class="_1w9nn735">
                                                                                        <option selected="" value="all">
                                                                                            월 선택</option>
                                                                                        <option value="2021-07">2021년 7월
                                                                                        </option>
                                                                                        <option value="2021-08">2021년 8월
                                                                                        </option>
                                                                                        <option value="2021-09">2021년 9월
                                                                                        </option>
                                                                                        <option value="2021-10">2021년
                                                                                            10월</option>
                                                                                        <option value="2021-11">2021년
                                                                                            11월</option>
                                                                                        <option value="2021-12">2021년
                                                                                            12월</option>
                                                                                        <option value="2022-01">2022년 1월
                                                                                        </option>
                                                                                        <option value="2022-02">2022년 2월
                                                                                        </option>
                                                                                        <option value="2022-03">2022년 3월
                                                                                        </option>
                                                                                        <option value="2022-04">2022년 4월
                                                                                        </option>
                                                                                        <option value="2022-05">2022년 5월
                                                                                        </option>
                                                                                        <option value="2022-06">2022년 6월
                                                                                            (현재)</option>
                                                                                        <option value="2022-07">2022년 7월
                                                                                        </option>
                                                                                        <option value="2022-08">2022년 8월
                                                                                        </option>
                                                                                        <option value="2022-09">2022년 9월
                                                                                        </option>
                                                                                        <option value="2022-10">2022년
                                                                                            10월</option>
                                                                                        <option value="2022-11">2022년
                                                                                            11월</option>
                                                                                        <option value="2022-12">2022년
                                                                                            12월</option>
                                                                                        <option value="2023-01">2023년 1월
                                                                                        </option>
                                                                                        <option value="2023-02">2023년 2월
                                                                                        </option>
                                                                                        <option value="2023-03">2023년 3월
                                                                                        </option>
                                                                                        <option value="2023-04">2023년 4월
                                                                                        </option>
                                                                                        <option value="2023-05">2023년 5월
                                                                                        </option>
                                                                                    </select></div><span
                                                                                    class="_1idvclr"><svg
                                                                                        viewBox="0 0 18 18"

                                                                                        aria-hidden="true"
                                                                                        focusable="false"
                                                                                        style="height:16px;width:16px;display:block;fill:#484848">
                                                                                        <path
                                                                                            d="m16.29 4.3a1 1 0 1 1 1.41 1.42l-8 8a1 1 0 0 1 -1.41 0l-8-8a1 1 0 1 1 1.41-1.42l7.29 7.29z"
                                                                                            fill-rule="evenodd" />
                                                                                    </svg></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="FMP-target">
                                                                        <div>
                                                                            <div style="margin-bottom:24px">
                                                                                <div>
                                                                                    <!--예약 수입 금액 출력-->
                                                                                    <div class="_1jqhzse2">₩10,022</div>
                                                                                    <!--예약 수입 금액 출력-->
                                                                                    <div class="_czm8crp">2022 예약 수입
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="_2h22gn"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div data-showat="mediumAndAbove">
                                                                        <div style="margin-bottom:32px">

                                                                                        <div class="_36rlri"
                                                                                            style="margin-right:32px">
                                                                                            <!--지급 완료 금액-->
                                                                                            <div class="_s1tlw0m">₩0
                                                                                            <!--지급 완료 금액-->
                                                                                            </div>
                                                                                            <div style="margin-top:8px">
                                                                                                <span class="_1kqlx3z0"
                                                                                                    style="background-color:#000000"></span>
                                                                                                <div class="_36rlri">
                                                                                                    <div
                                                                                                        class="_13t8fjmf">
                                                                                                        <div><span
                                                                                                                class="_1jlnvra2">지급
                                                                                                                완료</span>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="_36rlri"
                                                                                            style="margin-right:32px">
                                                                                            <!--지급 예정 금액-->
                                                                                            <div class="_s1tlw0m">
                                                                                                ₩10,022</div>
                                                                                            <!--지급 예정 금액-->
                                                                                            <div style="margin-top:8px">
                                                                                                <span class="_1kqlx3z0"
                                                                                                    style="background-color:#B0B0B0"></span>
                                                                                                <div class="_36rlri">
                                                                                                    <div
                                                                                                        class="_13t8fjmf">
                                                                                                        <div><span
                                                                                                                class="_1jlnvra2">지급
                                                                                                                예정</span>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>


                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div style="margin-top:8px">
                                                                            <div>
                                                                                <h3 tabindex="-1" class="_14i3z6h"
                                                                                    elementtiming="LCP-target">
                                                                                    <div class="_1p75mxn1">
                                                                                        <div class="_s1tlw0m">2022 세부정보
                                                                                        </div>
                                                                                    </div>
                                                                                </h3>
                                                                            </div>
                                                                            <div class="_1okh7pi0">
                                                                                <div class="_hgs47m">
                                                                                    <div class="_n5lh69r">
                                                                                        <div class="_puzkdo"><span
                                                                                                class="_czm8crp">현재 등록된
                                                                                                숙소가 없습니다</span></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="_1okh7pi0">
                                                                                <div class="_hgs47m">
                                                                                    <div class="_n5lh69r">
                                                                                        <div class="_puzkdo"><span
                                                                                                class="_czm8crp">청소비</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="_1thk0tsb">
                                                                                        <div style="margin-left:16px">
                                                                                            <div class="_j1kt73">
                                                                                                <!--청소비 출력-->
                                                                                                <div class="_czm8crp">₩0
                                                                                                <!--청소비 출력-->
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="_1okh7pi0">
                                                                                <div class="_hgs47m">
                                                                                    <div class="_n5lh69r">
                                                                                        <div class="_puzkdo"><span
                                                                                                class="_czm8crp">취소
                                                                                                수수료</span></div>
                                                                                        <div style="margin-top:8px">
                                                                                            <!--취소 수수료 발생년도-->
                                                                                            <div class="_1jlnvra2">2022에
                                                                                                발생</div>
                                                                                            <!--취소 수수료 발생년도-->
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="_1thk0tsb">
                                                                                        <div style="margin-left:16px">
                                                                                            <div class="_j1kt73">
                                                                                                <!--취소 수수료-->
                                                                                                <div class="_czm8crp">₩0
                                                                                                <!--취소 수수료-->
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div>
                                                                                <div class="_1okh7pi0">
                                                                                    <div class="_czm8crp"><a
                                                                                            class="_12jvhwr"
                                                                                            aria-busy="false">대금 수령 내역
                                                                                            보기</a></div>
                                                                                </div>
                                                                                <div class="_1rlifxji">
                                                                                    <div class="_czm8crp"><a
                                                                                            class="_12jvhwr"
                                                                                            aria-busy="false">세금 정보
                                                                                            보기</a></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div style="margin-top:16px;display:block"><button id="popup44"
                                                                    type="button" class="_1e5q4qoz">피드백 보내기</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </section>
                                        </div>
                                    </div>
                                    <!--footer-->
                                    <div th:replace="fragment/footer :: footer"></div>
                                    <!--footer-->
                                </div>
                            </main>
                        </div>
                    </div>
                </div>
                <div class="_b21f4g">
                    <div aria-live="polite" aria-atomic="true"></div>
                    <div aria-live="assertive" aria-atomic="true"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
    <div id="authModals"></div>

</body>
<script src="/lib/js/hostedit/host_nav.js"></script>
</html>