.atm_c8_exq1xd.atm_c8_exq1xd{font-size:var(--ll-l-ys-f);} .atm_c8_exq1xd.atm_c8_exq1xd{font-size:var(--ll-l-ys-f);}
.atm_g3_1pezo5y.atm_g3_1pezo5y{line-height:var(--f-xgviq);} .atm_g3_1pezo5y.atm_g3_1pezo5y{line-height:var(--f-xgviq);}
.dir.atm_lo_exct8b.atm_lo_exct8b{padding-top:16px;} .dir.atm_lo_exct8b.atm_lo_exct8b{padding-top:16px;}
.dir.atm_le_exct8b.atm_le_exct8b{padding-bottom:16px;} .dir.atm_le_exct8b.atm_le_exct8b{padding-bottom:16px;}
.dir-ltr.atm_lk_1vi7ecw.atm_lk_1vi7ecw{padding-left:32px;}
.dir-rtl.atm_lk_1vi7ecw.atm_lk_1vi7ecw{padding-right:32px;} .dir-ltr.atm_lk_1vi7ecw.atm_lk_1vi7ecw{padding-left:32px;} .dir-rtl.atm_lk_1vi7ecw.atm_lk_1vi7ecw{padding-right:32px;}
.dir-ltr.atm_ll_1vi7ecw.atm_ll_1vi7ecw{padding-right:32px;}
.dir-rtl.atm_ll_1vi7ecw.atm_ll_1vi7ecw{padding-left:32px;} .dir-ltr.atm_ll_1vi7ecw.atm_ll_1vi7ecw{padding-right:32px;} .dir-rtl.atm_ll_1vi7ecw.atm_ll_1vi7ecw{padding-left:32px;}
